<p id="notice"><%= notice %></p>

<h1>Plan Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_subscriptions.each do |plan_subscription| %>
      <tr>
        <td><%= link_to 'Show', plan_subscription %></td>
        <td><%= link_to 'Edit', edit_plan_subscription_path(plan_subscription) %></td>
        <td><%= link_to 'Destroy', plan_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan Subscription', new_plan_subscription_path %>
