<% content_for :title, "Pitch Decks" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Pitch Decks</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to 'Brand', [@enterprise], class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Pitch Decks</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<section class="section-padding pb-0" style="margin-top: -40px !important; margin-bottom: -20px !important;" data-aos="fade-in" data-aos-delay="150">
  <div class="site-section ideas-entry-wrap mt-0" style="margin-top: 0px;" data-aos="fade" data-aos-delay="100">
    <div class="container mb-5">
      <%= link_to 'New Pitch Deck', new_enterprise_pitch_deck_path(@enterprise), class: "btn btn-primary new-biz float-right mr-5 mb-0 mt-0" %>
    </div>
  </div>
</section>

<% unless @enterprise.pitch_decks.present?  %>
  <p class="text-center mb-5">You don't have any Pitch Deck. 
    <%= link_to "Create one now!", new_enterprise_pitch_deck_path(@enterprise), class: "text-primary" %>
  </p>
<% else %>

<div class="container">
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Created By</th>
            <th scope="col">Updated On</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <% @pitch_decks.each do |pitch_deck| %>
          <tbody>
            <tr>
              <th scope="row"><%= pitch_deck.id %></th>
              <td><%= link_to (pitch_deck.enterprise.name).titleize, enterprise_pitch_deck_path(@enterprise, pitch_deck), class: "text-dark" %></td>
              <td><%= @enterprise.user.full_name.titleize %></td>
              <td><%= local_time(pitch_deck.updated_at)%></td>
              <td>
                <%#= link_to fa_icon("eye", title: "View", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), enterprise_pitch_deck_path(@enterprise, pitch_deck) %>
                <%= link_to fa_icon("edit", title: "Edit", class: "text-primary pd-link mr-2 mb-2", style: "font-size: 20px;"), edit_enterprise_pitch_deck_path(@enterprise, pitch_deck) %>
                <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger pd-link2 mt-4 mr-2 mb-2", style: "font-size: 20px;"), [@enterprise, pitch_deck], method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>

<style>

.table-image {
  td, th {
    vertical-align: middle;
  }
}

* {
  box-sizing: border-box;
}

</style>