<% content_for :title, "Pitch Deck" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Pitch Deck for <%= @enterprise.name.titleize %></h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Pitch Decks", enterprise_pitch_decks_path(@enterprise), class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Pitch Deck</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<div class="idea-form container col-lg-8", style= "margin-top: 100px;">
  <small class="text-center mb-5">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
    on <%= local_time(@pitch_deck.created_at) %>
  </small>

  <div class="container-fluid col-lg-6 text-right float-right">
    <% if user_signed_in? && current_user.id == @enterprise.user_id %>
        <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger mt-4 mr-2 mb-2", style: "font-size: 20px;"), 
        enterprise_pitch_deck_path(@enterprise), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to fa_icon("edit", title: "Edit Pitch Deck", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), 
        edit_enterprise_pitch_deck_path(@enterprise) %>
        <%= link_to fa_icon("file", title: "Download", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), 
        enterprise_pitch_deck_path(@enterprise, format: :pdf) %>
    <% end %>
  </div>
  <h4 class="mb-0 mt-3" style="font-weight: bold;">Introduction</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.introduction.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Elevator Pitch</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.elevator_pitch.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Mission</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.mission.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">The Problem(s)</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.problem.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">The Solution(s)</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.solution.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">How it Works</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.how_it_works.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Market Opportunity</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.market_opportunity.html_safe %>
  </p>

    <h4 class="mb-0 mt-3" style="font-weight: bold;">Market Size</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.market_size.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Competitor Analysis</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.competitor_analysis.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Revenue Model</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.revenue_model.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Traction</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.traction.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Financials</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.financials.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Growth Strategy</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.growth_strategy.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Investment</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.investment.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Team</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.team.html_safe %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Conclusion</h4>
  <p class="mt-2 mb-0">
    <%= @pitch_deck.conclusion.html_safe %>
  </p>
</div>