<div class="p-6 mb-5 rounded nested-fields row g-3">

  <%= form.hidden_field :_destroy %>

  <div class="mb-6 col-sm-12 form-group">
    <label class="form-label">Item</label>
    <%= form.text_field :item, class: "input form-control" %>
  </div>

  <div class="mb-6 col-sm-12 form-group">
    <label class="form-label">Cost</label>
    <%= form.number_field :cost, class: "input form-control" %>
  </div>

  <div class="mb-6 col-sm-12 form-group">
    <%= form.hidden_field :financial_plan_id, placeholder: "0", class: "input form-control" %>
  </div>

  <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class: "text-primary underline text-sm col-sm-12" %>

</div>