<% content_for :title, "Profile" %>
<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Profile</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page"><%= @user.username %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<main style="padding-top: 50px;">
  <div class="wrapper">
    <main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3 pd-right-none no-pd">      
                
								<div class="main-left-sidebar">
                  <div class="user_profile pt-0 pb-0">
                    <div class="user-pro-img mt-3 mb-0">
                      <% if @user.image.url %>
                        <%=image_tag @user.image.url, style: "width: 160px; height: 156px; margin-left: 0px !important;", class: "rounded-circle" %>
                      <% else %>
                        <%= image_tag 'avatar.png', style: "width: 160px; height: 156px; margin-left: 0px !important;", class: "rounded-circle" %>
                      <% end %>
                    </div>
                    
                    <section class="mb-3 pb-0">
                      <% if @user.id == current_user.id %>
                        <%#= button_to "Logout", '/logout', method: :post %>
                      <% elsif current_user.followees.include?(@user) %>
                    	  <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST", 
                          class: "btn btn-sm text-white", style: "font-size: 10px;" %></h5>
                      <% else %>
												<h5><%= button_to "Follow", follow_user_path, method: "POST", 
													class: "btn btn-sm p-2 mt-2 text-white", style: "font-size: 10px;"  %></h5>
                      <% end%>
                    </section>
 
                    <div class="user_pro_status pb-3 mx-auto">
                      <ul class="flw-status pb-0">
                        <li>
                          <span style="font-size: 12px;">
                            <%= link_to 'Followers', followers_user_path(@user) %>
                          </span>
                            <%= @user.total_following %>
                        </li>
                        <li>
                          <span style="font-size: 12px;">
                            <%= link_to 'Following', followings_user_path(@user) %>
                          </span>
                            <%= @user.total_followers %>
                        </li>
                      </ul>
                       
                      <div style="font-size: 12px;">
                        <i class="fas fa-map-marker-alt"></i> 
                          <%= @user.country %>
                      </div>

                      <div class="social-links mt-2">
                        <% if @user.website.present? %>
                          <%= link_to (@user.website), target: "_blank", title: "#{@user.website}" do %>
                            <i class="fas fa-globe mr-1"></i>
                          <% end %>
                        <% end %>

                        <% if @user.facebook_url.present? %>
                          <%= link_to (@user.facebook_url), target: "_blank", title: "#{@user.facebook_url}" do %>
                            <i class="fab fa-facebook mr-1"></i>
                          <% end %>
                        <% end %>

                        <% if @user.twitter_url.present? %>
                          <%= link_to (@user.twitter_url), target: "_blank", title: "#{@user.twitter_url}" do %>
                            <i class="fab fa-twitter mr-1"></i>
                          <% end %>
                        <% end %>

                        <% if @user.instagram_url.present? %>
                          <%= link_to (@user.instagram_url), target: "_blank", title: "#{@user.instagram_url}" do %>
                            <i class="fab fa-instagram mr-1"></i>
                          <% end %>
                        <% end %>

                        <% if @user.linkedin_url.present? %>
                          <%= link_to (@user.linkedin_url), target: "_blank", title: "#{@user.linkedin_url}" do %>
                            <i class="fab fa-linkedin"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div><!--user_pro_status end-->
                  </div><!--user_profile end-->          
                
									<%= render partial: 'layouts/follow', locals: { users: @users} %>						  
              </div>
              
              <div class="col-lg-6 col-md-8 no-pd">
                <div class="main-ws-sec">
                  <div class="user-tab-sec mb-3">
                    <h3 style="font-size: 24px;"><%= @user.full_name.titleize %></h3>
                    <h4 style="font-size: 14px; color: #007bff;">@<%= @user.username %></h4>
                    <div class="star-descp">
                      <h5 class="mt-1" style="font-weight: bold; margin-bottom: 3px;">Bio</h5>
                      <span class="mb-3" style="font-size: 14px;"><%= @user.bio %></span>
                      
                      <div class="progress mt-0" style="height: 10px; width: 100%;">
                        <div class="progress-bar" role="progressbar" style="width: 
                        	<%= "#{@user.ideas.count + @user.comments.size}%" %>" aria-valuenow="<%= @user.ideas.count %>" 
                          	aria-valuemin="0" aria-valuemax="100">
                          <small><%= "#{@user.ideas.size + @user.comments.size}%" %></small>      
                        </div>
                      </div>
                      
                      <div>
                        <p style="font-size: 10px;">User Rating</p>
                      </div>
                    </div><!--star-descp end-->
                    
                    <div class="tab-feed st2" style="text-align: center; margin-bottom: -10px; margin-top: -20px;">
                      <ul>
                        <li data-tab="saved-jobs" class="active">
                          <a href="#" title="">
                            <i class="fa fa-building"></i>
                            <span>Brands</span>
                          </a>
                          <span style="font-style: italic;"><%= (@user.enterprises.count) %></span>
                        </li>
                        
                        <li data-tab="feed-dd">
                          <a href="#" title="">
                            <i class="fas fa-lightbulb"></i>
                            <span>Projects</span>
                          </a>
													<span style="font-style: italic;"><%= (@user.ideas.count) %></span>
                        </li>
                        <%# <li data-tab="info-dd">
                          <a href="#" title="">
                            <i class="fas fa-users"></i>
                            <span>Teams</span>
                          </a>
                          <span style="font-style: italic;">= (@user.team_members.count)</span>
                        <%# </li> %>
  
                        <%# <li data-tab="my-bidss"> %>
												<li data-tab="feed-dd">
                          <a href="#" title="">
                            <i class="fas fa-life-ring"></i>
                            <span>Campaigns</span>
                          </a>
                          <span style="font-style: italic;"><%= (@user.ideas.count) %></span>
                        </li>
                        <hr>
                      </ul>
                    </div><!-- tab-feed end-->
                  </div><!--user-tab-sec end--> 
               
                  <%= render partial: "layouts/profile_ideas" %>
									<%= render partial: "layouts/profile_brands" %>
									<%#= render partial: "layouts/profile_teams" %>
									<%#= render partial: "layouts/profile_campaigns" %>

                </div><!--main-ws-sec end-->
              </div>
              
              <div class="col-lg-3 pd-right-none no-pd">
                <div class="right-sidebar" style="width: 280px; padding-bottom: 10px;">
									<div class="widget widget-about sidebar-item widget-jobs">
										<%= link_to (image_tag 'brand.png', class:"img-fluid navbar-brand p-0", style:"width:70px; height: 80px;"), root_path %>
										<span class="mb-3 mt-2">Get access to a growing library <br>of professional business 
										courses, and build a smarter enterprise</span>
								    <h5 class="text-uppercase mb-3 mt-0">Explore <br>Brainstaq Academy!</h5>
								  <div>
									<ul class="user-fw-status" style="margin-bottom: 0px;">
										<li>
											<%= link_to 'Get Started', "#" %>
										</li>
									</ul>
								</div>
							</div><!--widget-about end-->
                 
								<%= render partial: "layouts/top_brands", locals: { enterprises: @enterprises} %>
                </div><!--right-sidebar end-->
              </div>
            </div>
          </div><!-- main-section-data end-->
        </div> 
      </div>
    </main>
  </div>
  </main>

  <style>

/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, hgroup, menu, section {
	display: block;
} 

 ol, ul {
	list-style: none;
}

/* blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0;
	padding: 0;
} */
a:focus {
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #fff;
}
button {
	outline: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
} 

section {
	float: left;
	width: 100%;
	position: relative;
}
img {
	float: left;
}


/* ================ CROSS BROWSER COMPATABILITY =============== */

.ask-question,
nav,
.notification-box.active,
nav ul li a,
.user-account-settingss.active,
.user-info a,
.suggestion-usd > span i,
.view-more > a,
.tags-sec ul li a,
.post-st ul li a,
.ed-opts > a,
.bk-links li a,
.like-com li a,
.user-profy > a,
.slick-previous:before,
.slick-nexti:before,
.comment > a,
.sign_link > a,
.post-popup,
.post-project > a,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.sign-control li a,
.cover-sec > a,
.star-descp > a,
.message-btn a,
.pf-gallery ul li,
.gallery_pt:before,
.gallery_pt > a,
.overview-box,
.skl-name,
.conv-list,
.save-stngs ul li button,
.forum-links.active,
.react-links li a,
.next-prev > a,
nav ul li:hover > ul {
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

.wrapper {
	float: left;
	width: 100%;
	position: relative;
}

.btn-sm {
	font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    transition: 0.5s;
    background: #007bff;
}

header {
	float: left;
	width: 100%;
}
.header-data {
	float: left;
	width: 100%;
}

/* =================== main-section ================= */


main {
	float: left;
	width: 100%;
	padding: 20px 0 120px 0;
}
.main-section {
	float: left;
	width: 100%;
}
.main-section-data {
	float: left;
	width: 100%;
}
.main-left-sidebar {
	float: left;
	width: 100%;
	margin-top: -20px;
	padding-left: 0px;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.full-width {
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.username-dt {
	float: left;
	width: 100%;
	background-color: #007bff;
	padding-top: 40px;
}
.user-data {
	text-align: center;
}
.usr-pic {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: -48px;
}
.usr-pic > img {
	float: none;
	border: 5px solid #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	width: 100%;
}
.user-profile {
	float: left;
	width: 100%;
}
.user-specs {
	float: left;
	width: 100%;
	padding: 63px 0 27px 0;
}
.user-specs h3 {
	color: #000000;
	font-size: 20px !important;
	font-weight: 600;
	margin-bottom: 8px;
}
.user-specs span {
	color: #686868;
	font-size: 14px;
}

.user-fw-status {
	float: left;
	width: 100%;
}
.user-fw-status li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 10px 0;
}
.user-fw-status li:last-child {
	border-bottom: 0;
}
.user-fw-status li:nth-child(1),
.user-fw-status li:nth-child(2) {
	border-bottom: 0;
}
.user-fw-status li h4 {
	color: #686868;
	font-size: 20px;
	margin-bottom: 10px;
}
.user-fw-status li a {
	font-size: 14px;
	font-weight: 600;
	color: #007bff;	
}

.user-fw-status li:hover {
	background-color: #007bff;
}
.user-fw-status li:hover a {
	color: #fff;
}


/* ============= Suggestions ============ */

.sd-title {
	float: left;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.sd-title h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
}

.sd-title i {
	float: right;
	color: #b7b7b7;
	font-size: 30px;
	position: absolute;
	right: 5px;
	top: 15px;
}
.suggestions-list {
	float: left;
	width: 100%;
	padding: 13px 0 30px 0;
}
.suggestion-usd {
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.suggestion-usd img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 5px;
}
.sgt-text {
	float: left;
	padding-left: 10px;
}
.sgt-text h4 {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: -2px;
}
.sgt-text span {
	color: #686868;
  font-size: 12px;
  margin-top: -35px;
}
.suggestion-usd > span {
	float: right;
	margin-top: 2px;
	position: relative;
}
.suggestion-usd > span i {
	color: #b2b2b2;
	width: 25px;
	height: 25px;
	border: 1px solid #e5e5e5;	
	line-height: 25px;
	font-weight: 700;
	cursor: pointer;
}
.suggestion-usd > span i:hover {
	background-color: #007bff;
	color: #fff;
}
.view-more {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.view-more > a {
	color: #007bff;
	font-size: 14px;
	font-weight: 700;
}
.view-more > a:hover {
	color: #007bff
}

/* =================== main-ws-sec ================== */

.main-ws-sec {
	float: left;
  width: 100%;
  padding-left: 25px;
	
}

/* ================ posts-section ================== */

.posts-section {
	float: left;
	width: 100%;
}
.post-bar {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	margin-bottom: 20px;
}
.post_topbar {
	float: left;
	width: 100%;
	position: relative;
	padding: 20px 20px 15px 20px;
}
.usy-dt {
	float: left;
}
.usy-dt img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.usy-name {
	float: left;
	margin-left: 10px;
}
.usy-name h3 {
	color: #000000;
	font-size: 16px !important;
	font-weight: 600;
	margin-bottom: 2px;
	margin-top: 2px;
}
.usy-name span {
	color: #b2b2b2;
	font-size: 12px;
	margin-top: -2px;
}
.usy-name img {
	margin-top: 2px;
	margin-right: 6px;
}

.epi-sec {
	width: 100%;
	margin-bottom: 15px;
	padding: 0 20px;
}
.descp {
	float: left;
	margin-top: 3px;
}
.descp li {
	display: inline-block;
	margin-right: 15px;
}
.descp li span {
	color: #b2b2b2;
	font-size: 14px;
	float: left;
}
.descp li img {
	margin-right: 5px;
}
.bk-links {
	float: right;
}
.bk-links li {
	display: inline-block;
	margin-right: 7px;
}
.bk-links li:last-child {
	margin-right: 0;
}
.bk-links li i {
	color: #fff;
	font-size: 24px;
	width: 30px;
	height: 30px;
	background-color: #53d690;
	text-align: center;
	line-height: 30px;
}
.bk-links li i.la-envelope {
	background-color: #007bff;
}
.bid_now {
	color: #fff;
	background-color: #51a5fb;
	text-transform: capitalize;
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	position: relative;
	top: -3px;
}
.bid_now:hover {
	color: #fff;	
}


/* ============== job_descp ============ */

.job_descp {
	float: left;
	width: 100%;
	padding: 0 20px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.job_descp h3 {
	color: #000000;
	font-size: 18px !important;
	font-weight: 600;
  margin-bottom: 20px;
	margin-top: 10px;
  float: left;
}

.job_descp p {
	color: #000000;
  margin-top: 20px;
  float: left;
}

/* ========== job-status-bar ========== */

.job-status-bar {
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.like-com {
	float: left;
}
.like-com li {
	display: inline-block;
	margin-right: 15px;
}
.like-com li a {
	color: #3f3d3d;
	font-size: 14px;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}
.like-com li a:hover {
	color: #007bff;
}
.like-com li a.active {
	color: #007bff;
}
.like-com li a i {
	margin-right: 2px;
	font-size: 17px;
	position: relative;
	top: 2px;
}
.like-com li span {
	color: #ffffff;
	font-size: 13px;
	width: 30px;
	height: 30px;
	background-color: #007bff;
	line-height: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	float: left;
	text-align: center;
	font-weight: 600;
	margin-left: -25px;
}
.like-com li .com {
	position: relative;
	top: -5px;
}
.like-com li .com img {
	margin-right: 10px;
}

.job-status-bar > a {
	float: right;
	color: #b2b2b2;
	font-size: 14px;
	margin-top: 5px;
}
.job-status-bar > a i {
	font-size: 20px;
	margin-right: 7px;
	position: relative;
	top: 3px;
}

/* =============== right-sidebar ============= */

.right-sidebar {
	float: left;
	width: 100%;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
 }

.widget {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
}
.widget-about {
	text-align: center;
}
.widget-about img {
	float: none;
	padding-top: 20px;
}
.widget-about h3 {
	color: #000000;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 12px;
}
.widget-about span {
	color: #686868;
	font-size: 14px;
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

footer {
	float: left;
	width: 100%;
	background-color: #fff;
} 

.card-body {
  border: none;
  @media (max-width: 576px) {
    margin-left: 0px;
  }
}

/* ============= user_profile ============= */

.user_profile {
	float: left;
	width: 280px;
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.user-pro-img {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
	margin-top: -95px;
	position: relative;
}
.user-pro-img > a {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	color: #fff;
	line-height: 40px;
	background-color: #007bff;
	position: absolute;
	top: 0;
	left: 60%;
}

.user-pro-img img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 160px;
	float: none;
	border: 5px solid #fff;
}
.user_pro_status {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 27px;
}


/* =============== flw-status ============ */

.flw-status {
	float: left;
	width: 100%;
}
.flw-status li {
	display: inline-block;
	margin-right: 50px;
}
.flw-status li:last-child {
	margin-right: 0;
}
.flw-status li span {
	color: #686868;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
	display: block;
}
.flw-status li b {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}

/* ================== social_links ============= */

.social_links {
	float: left;
	width: 100%;
	text-align: left;
}
.social_links li {
	float: left;
	width: 100%;
	padding: 20px 15px;
	border-bottom: 1px solid #e5e5e5;
}
.social_links li a {
	float: left;
	width: 100%;
	color: #51a5fb;
	font-size: 13px;
	font-weight: 400;
}
.social_links li a i {
	padding-right: 5px;
	font-size: 20px;
	position: relative;
	top: 3px;
}


/* ================= user-tab-sec ============== */

.user-tab-sec {
	float: left;
	width: 100%;
	background-color: #FAF9F6;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.user-tab-sec h3 {
	color: #000000;
	font-size: 40px;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 7px;
}
.star-descp {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.star-descp > a {
	float: left;
	color: #51a5fb;
	font-size: 18px;
	font-weight: 600;
	margin-left: 20px;
	text-decoration: underline;
}
.star-descp > a:hover {
	color: #51a5fb;
}
.star-descp span {
	float: left;
	color: #686868;
	font-size: 18px;
	font-weight: 600;
	margin-right: 20px;
}
.star-descp > ul {
	float: left;
}
.star-descp ul li {
	display: inline-block;
}
.star-descp ul li i {
	color: #b7ce1f;
	font-size: 16px;
}
.tab-feed {
	float: left;
	width: 100%;
	margin-bottom: 47px;
}
.tab-feed ul {
	float: left;
	width: 100%;
}
.tab-feed ul li {
	display: inline-block;
	margin-right: 35px;
	text-align: center;
}
.tab-feed.st2 ul li {
	margin-right: 30px;
}
.tab-feed ul li:last-child {
	margin-right: 0;
}
.tab-feed ul li.active img {
	filter: grayscale(0);
}
.tab-feed ul li.active span {
	color: #007bff;
}

.tab-feed span {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.tab-feed ul li img {
	float: none;
	margin-bottom: 5px;
	filter: grayscale(100%);
}
.tab-feed ul li span {
	display: block;
	color: #b2b2b2;
	font-weight: 400;
	font-size: 18px;
}
.tab-feed ul li:last-child {
	margin-right: 0;
}

.product-feed-tab {
	float: left;
	width: 100%;
	display: none;
}
.product-feed-tab.current {
	display: block;
}

.no-margin {
	margin: 0 !important;
}

.row {
	margin: 0;
}

.no-left-pd {
	padding: 0;
}
.no-righ-pd {
	padding-right: 0;
}

a:hover {
	color: initial;
}

.pd-left-none {
	padding-left: 0;
}
.pd-right-none {
	padding-right: 0;
}


.fl-left {
	float: left;
}
.fl-right {
	float: right;
}

.btn  {
	background-color: #007bff !important;
}

  </style>

	<script>
		    $('.tab-feed ul li').on("click", function(){
        var tab_id = $(this).attr('data-tab');
        $('.tab-feed ul li').removeClass('active');
        $('.product-feed-tab').removeClass('current');
        $(this).addClass('active animated fadeIn');
        $("#"+tab_id).addClass('current animated fadeIn');
        return false;
    });
	</script>