  <% unless @enterprise.business_plan.present?  %>
    <p>You don't have any business plan. <%= link_to "Create one", new_enterprise_business_plan_path(@enterprise) %> now!</p>
  <% else %>
    <h3 class="mt-2 mb-2 text-center" style="font-size: 20px; font-weight: bold;">
    Business Plan for <%= @enterprise.name.titleize %>
  </h3>
  <small class="text-center mb-5">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
    on <%= local_time(@business_plan.created_at) %>
  </small>
  
  <%= image_tag @enterprise.image_url, class: "img-fluid rounded mb-3 mb-md-0", width:'80%', height:'80%' if @enterprise.image.present? %>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Executive Summary</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.executive_summary, @business_plan %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Problem</h4>
  <p class="mt-2 mb-0">
    <%#= sanitize @idea.challenges %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Solution</h4>
  <p class="mt-2 mb-0">
    <%#= sanitize @idea.overview %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Impact</h4>
  <p class="mt-2 mb-0">
    <%#= sanitize @idea.impact %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Funding Goal</h4>
  <p class="mt-2 mb-0">
    <%#= number_to_currency(@idea.donation_goal, :unit => "₦") %>
  </p>
  <div class="container-fluid col-lg-6 float-right">
    <% if user_signed_in? %>
      <% if current_user.id == @enterprise.user_id %>
        <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger mt-4 mr-2 mb-2", style: "font-size: 20px;"), 
        business_plan_path(@business_plan), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to fa_icon("edit", title: "Edit Business Plan", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), 
        edit_business_plan_path(@business_plan) %>
      <% end %>
    <% end %>
  </div>
  <% end %>