<header class="section-header mb-5"></header>

<%= form_for ([@enterprise, @business_plan]) do |form| %>
  <% if business_plan.errors.any? %>
    <div id="error_explanation" class="text-center text-danger">
      <h4>Oops! You've got <%= pluralize(business_plan.errors.count, "error") %></h4>
      <ul>
        <% business_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<div class="text-danger text-center mb-3" id="error_explanation">
		<% if @quota_warning.present? %>
			<span><%= @quota_warning %></span>
		<% end %>
	</div>

  <section class="profile-account-setting">
		<div class="container">
			<div class="account-tabs-setting">
				<div class="row">
					<div class="col-lg-3">
						<div class="acc-leftbar">
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">Executive Summary</a>
								<a class="nav-item nav-link" id="nav-vision-tab" data-toggle="tab" href="#nav-vision" role="tab" aria-controls="nav-vision" aria-selected="false">Vision, Mission & Objectives</a>
								<a class="nav-item nav-link" id="nav-value-tab" data-toggle="tab" href="#nav-value" role="tab" aria-controls="nav-value" aria-selected="false">Value Proposition</a>
                <a class="nav-item nav-link" id="nav-products-tab" data-toggle="tab" href="#nav-products" role="tab" aria-controls="nav-products" aria-selected="false">Products and Services</a>
                <a class="nav-item nav-link" id="nav-industry-tab" data-toggle="tab" href="#nav-industry" role="tab" aria-controls="nav-industry" aria-selected="false">Industry Analysis</a>
                <a class="nav-item nav-link" id="nav-competition-tab" data-toggle="tab" href="#nav-competition" role="tab" aria-controls="nav-competition" aria-selected="false">Competition</a>
                <a class="nav-item nav-link" id="nav-swot-tab" data-toggle="tab" href="#nav-swot" role="tab" aria-controls="nav-swot" aria-selected="false">SWOT Analysis</a>
								<a class="nav-item nav-link" id="nav-operations-tab" data-toggle="tab" href="#nav-operations" role="tab" aria-controls="nav-operations" aria-selected="false">Operations Plan</a>
								<a class="nav-item nav-link" id="nav-marketing-tab" data-toggle="tab" href="#nav-marketing" role="tab" aria-controls="nav-marketing" aria-selected="false">Marketing Plan</a>
								<a class="nav-item nav-link" id="nav-management-tab" data-toggle="tab" href="#nav-management" role="tab" aria-controls="nav-management" aria-selected="false">Management Plan</a>
								<a class="nav-item nav-link" id="nav-financial-tab" data-toggle="tab" href="#nav-financial" role="tab" aria-controls="nav-financial" aria-selected="false">Financial Plan</a>
								<a class="nav-item nav-link" id="nav-milestones-tab" data-toggle="tab" href="#nav-milestones" role="tab" aria-controls="nav-milestones" aria-selected="false">Milestones</a>
                <a class="nav-item nav-link" id="nav-appendices-tab" data-toggle="tab" href="#nav-appendices" role="tab" aria-controls="nav-appendices" aria-selected="false">Appendices</a>
								</div>
							</div><!--acc-leftbar end-->
						</div>
						<div class="col-lg-9">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
									<div class="acc-setting">
										<h3>Executive Summary
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													The Executive Summary is a brief of all the contents of the business plan. 
													It should be written in such a way that whoever reads it would get the 
													essence of the entire business plan. It should cover every part of the 
													business plan.
												</p>
											</details>
										</h3>
										
											<div class="cp-field">
												<div class="cpp-fiel">
													<%= form.text_area :executive_summary, class: "form-control", placeholder: "Enter executive summary"  %>
                          <%#= tinymce %>
												</div>
											</div>
											<div class="save-stngs">
												<ul>
													<li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
										
									</div><!--acc-setting end-->
								</div>

							  	<div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
							  		<div class="acc-setting">
							  			<h3>Vision, Mission & Objectives</h3>	
											<div class="cp-field">
												<h5>Vision
													<details>
														<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
														<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
														The Vision Statement is a statement of what you want your company to 
														become in the future. You may state the time frame for attaining the 
														vision. The vision must be inspiring to drive you to higher and higher 
														performances in the business.
														</p>
													</details>
												</h5>
												<div class="cpp-fiel">
													<%= form.text_area :vision, placeholder: "Enter your Brand vision", class: "form-control" %>
                          <%#= tinymce %>
												</div>
											</div>
											<div class="cp-field">
												<h5>Mission
													<details>
														<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
														<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
															The Mission Statement is simply the statement of the purpose for which 
															the business is set up and is trying to achieve, its reason for 
															existing that indicates the problem the company's product will solve 
															and the market. 
														</p>
													</details>
												</h5>
												<div class="cpp-fiel">
													<%= form.text_area :mission, placeholder: "Enter your Brand mission", class: "form-control" %>
                          <%#= tinymce %>
												</div>
											</div>
                      <div class="cp-field">
												<h5>Objectives
													<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													This is a list of what you want to achieve with the business over a defined 
													period. Most importantly, your business objectives must be SMART:
													Specific – target a specific area for improvement or initiation.
													Measurable – quantify or at least suggest an indicator of progress.
													Attainable – specify who will do it.
													Realistic – state what results can realistically be achieved, given available resources.
													Time bound – specify when the result(s) will be.
												</p>
											</details>
												</h5>
												<div class="cpp-fiel">
													<%= form.text_area :objectives, placeholder: "List your Brand objectives", class: "form-control" %>
                          <%#= tinymce %>
												</div>
											</div>
											<div class="save-stngs pd2">
												<ul>
													<li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
										
							  		</div><!--acc-setting end-->
							  	</div>
							  		
							  	<div class="tab-pane fade" id="nav-value" role="tabpanel" aria-labelledby="nav-value-tab">
							  		<div class="acc-setting">
							  			<h3>Value Proposition
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													This is a promise of value to be delivered and acknowledged. 
													It is what gives the target market an expectation of what benefits will 
													be delivered and experienced from the product or service. It could be:
													- It could be reduction in time
													- Reduction in cost
													- Enhancement of health
													- It could be enhancement of efficiency in the customers’ business or 
													life, etc.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
												<div class="cpp-fiel">
													<%= form.text_area :value_proposition, placeholder: "Enter your value proposition", class: "form-control" %>
                          <%#= tinymce %>
												</div>
											</div>
                      <div class="field">
                        <%= form.hidden_field :enterprise_id %>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>

							  	<div class="tab-pane fade" id="nav-products" role="tabpanel" aria-labelledby="nav-products-tab">
							  		<div class="acc-setting">
							  			<h3>Products & Services
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													In this section, you should describe the products and/or services that 
													would deliver the value proposed to customers.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
												<div class="cpp-fiel">
													<%= form.text_area :products_and_services, class: "form-control", placeholder: "Describe your products and services"%>
                          <%#= tinymce %>
												</div>
											</div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>
                  <div class="tab-pane fade" id="nav-industry" role="tabpanel" aria-labelledby="nav-industry-tab">
							  		<div class="acc-setting">
							  			<h3>Industry Analysis
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													Here, you are expected to conduct a thorough research on the market. 
													You need to:
													- State the industry or the sector of the economy (health, agriculture, construction, manufacturing, etc.) in which your business is playing
													- State the key features or peculiarities of the industry that make it viable or demonstrate growth potential.
													- State the actions of government that support the growth of the industry
													- State the market you intend to serve
													- State the major players in the industry
													- State the size of the market (volume and value, where possible)
													- State the segments of the market – the different customer groups
													- State the specific group your product or service is meant for
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
												<div class="cpp-fiel">
													<%= form.text_area :industry_analysis, class: "form-control", placeholder: "Enter industry analysis"%>
                          <%#= tinymce %>
												</div>
											</div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>
                  <div class="tab-pane fade" id="nav-competition" role="tabpanel" aria-labelledby="nav-competition-tab">
							  		<div class="acc-setting">
							  			<h3>Competition
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													- State your major (direct and indirect) competitors
													- Describe their product and service offers.
													- State their competitive advantages or disadvantages
													- The customer segments they are focusing on
													- State the probability of new entrants
													- State the potential new competitor/market entrants
													- State if the barriers they must overcome to enter the market is high or low.
												</p>
											</details>
											</h3>
                      <div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :competition, class: "form-control", placeholder: "Describe your competitors and the competition"%>
                          <%#= tinymce %>
                        </div>
                      </div>
                      <div class="save-stngs pd2">
                        <ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
                        </ul>
                      </div><!--save-stngs end-->
                    </div><!--acc-setting end-->
                  </div>

                  <div class="tab-pane fade" id="nav-swot" role="tabpanel" aria-labelledby="nav-swot-tab">
							  		<div class="acc-setting">
							  			<h3>SWOT Analysis
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													STRENGTHS:
													State your areas of strengths – skills/expertise, financial resources and 
													unique selling point. State any existing patents, intellectual property, 
													partnerships, collaborations and technical support you currently have or 
													will soon secure, and how they contribute to your strength. 
													State any awards and recognitions achieved that can make your brand stronger.
													WEAKNESSES:
													State your weaknesses, both internally and externally – such as new 
													untested product, weak brand, low level of adoption by target market, etc.
													OPPORTUNITIES:
													State the opportunities in the business environment that will assist the 
													performance and growth of your business. Consider the political, economic, 
													social, technological, legal/regulatory and physical environmental factors 
													(PESTLE) in your community, country, that may influence your business.
													THREATS:
													State the threats, challenges and risks that you have to deal with.
													State how you will enhance your strength and use it for competitive 
													advantage. State how you can reduce your weaknesses.
													State how you can exploit the opportunities.
													State how you can reduce the threats, risk and challenges.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :swot, class: "form-control", placeholder: "Enter SWOT Analysis"%>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>
                  
                  <div class="tab-pane fade" id="nav-operations" role="tabpanel" aria-labelledby="nav-operations-tab">
							  		<div class="acc-setting">
							  			<h3>Operations Plan
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													This is the section where you:
													- State the patents and permits/licenses you require to operate
													- State material resources (such as raw materials, physical assets, 
													  human resources and other inputs) and how you obtain – by direct 
														purchase, by suppliers, by buying agents, outsourcing, etc. include 
														the equipment needed to manufacture the products or produce the service
													- State other key resources (including intangibles like certification or 
														new knowledge) you require
													- Describe how you will deliver the product or service to the customer 
														(from production point to consumption point)
													- State your suppliers, and your expected method of relationship with them, 
														as well as your key distributors and/or agents (if any)
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :operations, class: "form-control", placeholder: "Describe your operations plan"%>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>
                  
                  <div class="tab-pane fade" id="nav-marketing" role="tabpanel" aria-labelledby="nav-marketing-tab">
							  		<div class="acc-setting">
							  			<h3>Marketing Plan
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													The marketing plan is one of the most important sections of a business plan. 
													Here, you should:
													- State how you will make the customers aware of your product or service – be as specific as possible by digital, social media, TV, radio, newsprint, etc.
													- State how you will promote your product or services – by trade fairs, 
													  TV talk shows and appearances, radio talk shows focus meetings, strategic 
													  presentations, etc.
													- Describe the pricing strategy for your products or services and the 
													  assumptions you have made.
													- Will there be any incentives that will make them switch from current 
													  providers or buy the products/services anew – discounts, credit facilities; 
													  and where possible, describe the effect of the incentives on your cash flow and profitability
													- State how you ensure that credit customers (if any) will pay
													- State the channels by which you will get the services to the customers: 
													  e-market place (on the Internet or any other electronic means), 
														department stores/supermarkets, distributors, wholesalers, sales agents, etc.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :marketing, class: "form-control", placeholder: "Describe your marketing plan"%>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>
                  
                  <div class="tab-pane fade" id="nav-management" role="tabpanel" aria-labelledby="nav-management-tab">
							  		<div class="acc-setting">
							  			<h3>Management Plan
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													Functions:
													State and describe the functions you need to perform to run the business:
													-	Production/ Inventory Management
													-	Admin/Facility management
													-	Human Resources
													-	Finance/accounts
													-	Marketing/Sales
													-	Other functions
													Qualifications/Expertise:
													-	State briefly the qualification and expertise of staff required to perform the functions
													-	State the calibre of staff who will be (or are currently) responsible for the function such as production manager, personnel manager, accountant and marketing Manager
													-	The roles and responsibilities you hold in the business
													Organizational Structure to show the coordination and relationship lines between and within the functions.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :management, class: "form-control", placeholder: "What is your management plan?"%>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>

									<div class="tab-pane fade" id="nav-financial" role="tabpanel" aria-labelledby="nav-financial-tab">
							  		<div class="acc-setting">
							  			<h3>Financial Plan
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													Make key assumptions on cost elements, current and future costing, financing 
													options and revenues projections. Remembers that it is prudent to 
													underestimate your revenue and anticipate more in costs.
													Make revenue projections:
													- State the products and services from which you will derive revenue - 
													  your revenue streams
												  - State the way you will price them
													- State the estimated volumes of products and services to be sold for any 
													  number of years. – year 1, year 2, year 3, etc.
													- Determine the revenue projections for the specified number of years
													Other financial projections that should be made are financial statements, 
													such as:
													- Profit and Loss projections,
													- Cash flow projections and
													- Balance sheet projections for the number of years.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :financial, class: "form-control", placeholder: "What is your financial plan?"%>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>

                  <div class="tab-pane fade" id="nav-milestones" role="tabpanel" aria-labelledby="nav-milestones-tab">
							  		<div class="acc-setting">
							  			<h3>Milestones
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													Milestones and Attachments:
													State what you need to achieve each quarter for the next 3 years and the 
													amount required to achieve each of them. Include milestones of output - 
													products, solutions, clients, patents, coverage area, etc. Indicate number 
													of staff (full time and/or part time). Include expansion/growth milestones 
													that can be tracked per quarter. Avoid bogus, exaggerated or unattainable milestones.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :milestones, placeholder: "Enter your milestones", class: "form-control" %>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>

                  <div class="tab-pane fade" id="nav-appendices" role="tabpanel" aria-labelledby="nav-appendices-tab">
							  		<div class="acc-setting">
							  			<h3>Appendices
											<details>
												<summary class="text-info" style="font-size:12px; font-style: italic; margin-bottom: 0px;">Tip!</summary>
												<p class="text-info mt-1" style="font-size:11px; font-style: italic;">
													The appendix should contain supplementary materials that are not an 
													essential part of the business plan but which may be helpful in providing 
													a more comprehensive understanding of the business plan.
												</p>
											</details>
											</h3>
							  			<div class="cp-field">
                        <div class="cpp-fiel">
                          <%= form.text_area :appendices, placeholder: "Enter appendices", class: "form-control" %>
                          <%#= tinymce %>
                        </div>
                      </div>
											<div class="save-stngs pd2">
												<ul>
                          <li><%= form.submit 'Create Plan', class: "actions btn rounded btn-primary" %></li>
													<li><%= link_to 'Back', :back, class: "btn btn-secondary rounded"  %></li>
												</ul>
											</div><!--save-stngs end-->
							  		</div><!--acc-setting end-->
							  	</div>
							</div>
						</div>
					</div>
				</div><!--account-tabs-setting end-->
			</div>
	</section>
<% end %>

<style>
details {
    padding: .3em .3em 0;
		text-transform: initial;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .3em;
}

.acc-leftbar {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.acc-leftbar .nav-tabs > a {
	float: left;
	width: 100%;
	background: none;
	padding: 18px 20px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-left: 0;
	border-right: 0;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.nav-tabs {
	border-bottom: 0;
}
.acc-leftbar .nav-tabs > a:last-child {
	border-bottom: 0;
}
.acc-leftbar .nav-tabs > a i {
	padding-right: 15px;
	font-size: 20px;
	position: relative;
	top: 2px;
	font-weight: 700;
	width: 40px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: inherit;
	color: #0070C0;
	border-color: inherit;
}
.acc-setting {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	-webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 0 4px rgba(0,0,0,0.24);
	box-shadow: 1px 0 4px rgba(0,0,0,0.24);
}
.acc-setting form {
	float: left;
	width: 100%;
}
.acc-setting > h3 {
	float: left;
	width: 100%;
	color: #000000;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	border-bottom: 1px solid #e5e5e5;
	padding: 17px 20px;
}
.notbar {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
	position: relative;
}
.notbar h4 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}
.notbar p {
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	width: 75%;
}
.toggle-btn {
	position: absolute;
	top: 35px;
	right: 20px	;
}
.save-stngs {
	float: left;
	width: 100%;
	padding: 30px 20px 50px 20px;
}
.save-stngs.pd2 {
	padding: 25px 20px 42px 20px;
}
.save-stngs.pd3 {
	padding: 25px 20px 25px 20px;
}
.save-stngs ul li {
	display: inline-block;
	margin-right: 17px;
}
.save-stngs ul li button {
	display: inline-block;
	color: #000000;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	padding: 0 22px;
	font-weight: 600;
	background: none;
	cursor: pointer;
}
.save-stngs ul li button:hover {
	background-color: #e44d3a;
	color: #fff;
	border-color: transparent;
}
.profile-bx-details {
	float: left;
	width: 100%;
	padding: 30px 7px 30px 7px;
}
.profile-bx-details .row .col-lg-3 {
	padding: 0 7px;
}
.profile-bx-info {
	float: left;
	width: 100%;
	background-color: #f2f2f2;
	padding: 20px;
	border: 1px solid #e5e5e5;
}
.pro-bx {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
.bx-info {
	float: left;
	margin-top: 7px;
	padding-left: 15px;
}
.bx-info h3 {
	color: #e44d3a;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}	
.bx-info h5 {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	border: 0;
}
.pd-left-20 {
	padding-left: 20px;
	padding-right: 0;
}
.pd-left-15 {
	padding-left: 15px;
	padding-right: 0;
}
.pd-left-right {
	padding-left: 15px;
	padding-right: 20px;
}
.profile-bx-info > p {
	float: left;
	width: 100%;
	font-size: 12px;
	line-height: 22px;
	padding-top: 3px;
}
.pro-work-status {
	float: left;
	width: 100%;
	padding: 0 15px;
}
.pro-work-status h4 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 50px;
}
.cp-field {
	float: left;
	width: 100%;
	margin-top: 29.4px;
	padding: 0 20px;
}
.cp-field h5 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.cp-field h5 a {
	color: #000;
}
.cpp-fiel {
	float: left;
	width: 100%;
	position: relative;
}
.cp-field input {
	height: 40px;
	padding: 0 40px;
}
.cp-field input,
.cp-field textarea {
	width: 100%;
	border: 1px solid #e5e5e5;
}
.cp-field textarea {
	padding: 20px;
	height: 115px;	
}
.cpp-fiel i {
	position: absolute;
	top: 12px;
	left: 15px;
	color: #b2b2b2;
	font-size: 16px;
}
.cp-field > p {
	float: left;
	width: 100%;
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	margin-top: 5px;
}
.notifications-list {
	float: left;
	width: 100%;
}
.notfication-details {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.notfication-details:last-child {
	border-bottom: 0;
}
.noty-user-img {
	float: left;
	width: 35px;
}
.noty-user-img img {
	width: 100%;
}
.notification-info {
	float: left;
	width: auto;
	padding-left: 10px;
}
.notification-info h3 {
	color: #686868;
	font-size: 14px;
	font-weight: 600;
	border: 0;
	padding: 0;
	margin-bottom: 6px;
}
.notification-info h3 a {
	color: #000000;
	font-size: 16px;
	display: inline-block;
}
.notification-info > span {
	display: inline-block;
	color: #b2b2b2;
	font-size: 12px;
	font-weight: 600;
}
.requests-list {
	float: left;
	width: 100%;
	padding-bottom: 0;
}
.request-details {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.request-details:last-child {
	border-bottom: 0;
}
.request-info {
	float: left;
	padding-left: 10px;
}
.request-info h3 {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	padding: 0;
	border: 0;
	margin-bottom: 3px;
}
.request-info span {
	color: #686868;
	font-size: 12px;
	display: inline-block;
}
.accept-feat {
	float: right;
}
.accept-feat ul li {
	display: inline-block;
}
.accept-feat ul li button {
	cursor: pointer;
}
.accept-req {
	color: #ffffff;
	font-size: 16px;
	background-color: #51a5fb;
	height: 30px;
	padding: 0 20px;
	font-weight: 600;
	border: 0;
	border: 1px solid #51a5fb;
}
.close-req {
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #e5e5e5;
	background: inherit;
	color: #b2b2b2;
	margin-left: 7px;
}
.close-req i {
	font-weight: 600;
}
</style>
