<div class="nested-fields">
  <%= form.hidden_field :_destroy %>

  <div class="card">
    <div class="card-body">
      <div class="row mt-2">
        <%=form.fields_for :team_members, TeamMember.new do |team_member_attributes| %>
          <div class="col-sm-12 mb-3">
            <h5 class="text-primary" style="font-size: 11px;">
            Enter the name of employee, attach a photo and enter a bio</h5>
          </div>
          <div class="col-sm-4 pb-3">
            <label for="exampleAccount">Full Name</label>
            <%= team_member_attributes.text_field :full_name, class: "form-control"  %>
          </div>

          <%# <div class="col-sm-4 pb-3"> %>
            <%# <label for="exampleCtrl">Position</label>  %>
            <%#= team_member_attributes.collection_select(:position_id, Position.all, :id, :title, {prompt: 'Select position'}, class: "form-control") %>
          <%# </div> %>
          
          <div class="col-sm-4 pb-3">
            <label for="exampleAmount">Photo</label>
            <div class="input-group">
              <%= team_member_attributes.file_field :image, onchange: "validateFiles(this);", data: { max_file_size: 1.megabytes }, class: "p-2 form-control" %>
            </div>
          </div>

          <div class="col-md-12 pb-3">
            <label for="exampleMessage">Bio</label> 
            <%= team_member_attributes.text_area :bio, class: "form-control", placeholder: "Enter bio"  %> 
          </div>
        <% end %>

        <div class="col-sm-12 mt-3 mb-3">
            <h5 class="text-primary" style="font-size: 11px;">
              Enter the position, the annual salary for this position, and the number of employees you 
              expect to fill this position in each year
            </h5>
          </div>
        <div class="col-sm-3 pb-3">
          <label for="exampleAccount">Position</label>
          <%= form.text_field :title, class: "form-control", placeholder: "Enter position"  %>
        </div>
        <div class="col-sm-3 pb-3">
          <label for="exampleCtrl">Base Annual Salary</label> 
          <%= form.number_field :base_annual_salary, class: "form-control" %>
        </div>
        
        <div class="col-sm-3 pb-3">
          <label for="exampleMessage">No. of Employees: Year 1</label> 
          <%= form.number_field :number_of_employees_one, class: "form-control"  %> 
        </div>

        <div class="col-sm-3 pb-3">
          <label for="exampleMessage">No. of Employees: Year 2</label> 
          <%= form.number_field :number_of_employees_two, class: "form-control"  %> 
        </div>

        <div class="col-sm-3 pb-3">
          <label for="exampleMessage">No. of Employees: Year 3</label> 
          <%= form.number_field :number_of_employees_three, class: "form-control"  %> 
        </div>

        <div class="col-sm-3 pb-3">
          <label for="exampleMessage">No. of Employees: Year 4</label> 
          <%= form.number_field :number_of_employees_four, class: "form-control"  %> 
        </div>

        <div class="col-sm-3 pb-3">
          <label for="exampleMessage">No. of Employees: Year 5</label> 
          <%= form.number_field :number_of_employees_five, class: "form-control"  %> 
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class: "text-primary underline text-sm col-md-3 mt-3 ml-3 mr-3" %>
      </div>
    </div>
  </div>
</div>