<div class="nested-fields">
  <%= form.hidden_field :_destroy %>

  <div class="card">
    <div class="card-body">
      <div class="row mt-2">
        <div class="col-sm-12 mb-3">
          <h5 class="text-primary" style="font-size: 11px;">
            Enter the position, the annual salary for this position, and the number of employees you 
            expect to fill this position in each year
          </h5>
        </div>

        <div class="col-sm-4 pb-3">
          <label for="exampleAccount">Position</label>
          <%= form.text_field :title, class: "form-control", placeholder: "Enter position"  %>
        </div>
        <div class="col-sm-4 pb-3">
          <label for="exampleCtrl">Base Annual Salary</label> 
          <%= form.number_field :base_annual_salary, class: "form-control" %>
        </div>

        <div class="col-sm-4 pb-3">
          <label for="exampleCtrl">Salary Benefits (%)</label> 
          <%= form.number_field :salary_benefits, class: "form-control" %>
        </div>

        <div class="col-sm-2 form-group">
          <br>
          <h5 class="form-label fnt">Number of Employees</h5>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 1</label>
          <%= form.text_field :number_of_employees_one, class: "form-control fnt" %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 2</label>
          <%= form.text_field :number_of_employees_two, class: "form-control fnt"  %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 3</label>
          <%= form.text_field :number_of_employees_three, class: "form-control fnt"  %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 4</label>
          <%= form.text_field :number_of_employees_four, class: "form-control fnt"  %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 5</label>
          <%= form.text_field :number_of_employees_five, class: "form-control fnt"  %>
        </div>

        <div class="col-sm-12 mt-3 mb-3">
          <h5 class="text-primary" style="font-size: 11px;">
            Enter the percentage salary growth rates for each year. For example, you may want to increase staff salaries
            by 5% every year or once in 2 years. However, you can enter '0' for any year that you do not want 
            to increase staff salaries. Also, you only need to fill this growth rates once. DO NOT REPEAT IT FOR OTHER POSITIONS. 
          </h5>
        </div>
        
        <div class="col-sm-2 form-group">
          <br>
          <h5 class="form-label fnt">Salaries Growth Rate</h5>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 1</label>
          <%= form.text_field :salaries_cgr1, class: "form-control fnt" %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 2</label>
          <%= form.text_field :salaries_cgr2, class: "form-control fnt"  %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 3</label>
          <%= form.text_field :salaries_cgr3, class: "form-control fnt"  %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 4</label>
          <%= form.text_field :salaries_cgr4, class: "form-control fnt"  %>
        </div>
        <div class="col-sm-2 mt-3 form-group">
          <label class="form-label fnt">Year 5</label>
          <%= form.text_field :salaries_cgr5, class: "form-control fnt"  %>
        </div>

        <div class="col-sm-12 mt-3 mb-3">
          <h5 class="text-primary" style="font-size: 11px;">
            Enter the name of employee for the above position, attach a photo and enter a bio. If there is no
            one filling the position yet, simply leave it blank
          </h5>
        </div>

        <div class="col-sm-4 pb-3">
          <label for="exampleAccount">Full Name</label>
          <%= form.text_field :full_name, class: "form-control"  %>
        </div>

        <div class="col-sm-4 pb-3">
          <label for="exampleAmount">Photo</label>
          <div class="input-group">
            <%= form.file_field :image, onchange: "validateFiles(this);", data: { max_file_size: 1.megabytes }, class: "p-2 form-control" %>
          </div>
        </div>

        <div class="col-md-12 pb-3">
          <label for="exampleMessage">Bio</label> 
          <%= form.text_area :bio, class: "form-control", placeholder: "Enter bio"  %> 
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class: "text-primary underline text-sm col-md-3 mt-3 ml-3 mr-3" %>
      </div>
    </div>
  </div>
</div>