<% content_for :title, "Business Plan" %>

<!-- start of page-header -->

<div class="col-md-12 text-center">
  <h2 class="h1 font-weight-bold">Business Plan for <%= @enterprise.name.titleize %></h2>
</div>
<!-- end of page-header -->

<div class="idea-form container col-lg-8", style= "margin-top: 100px;">
  <small class="text-center mb-5">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
    on <%= local_time(@business_plan.created_at) %>
  </small>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Executive Summary</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.executive_summary %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Vision</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.vision %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Mission</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.mission %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Objectives</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.objectives %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Value Proposition</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.value_proposition %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Products and Services</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.products_and_services %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Industry Analysis</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.industry_analysis %>
  </p>

    <h4 class="mb-0 mt-3" style="font-weight: bold;">Competition</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.competition %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">SWOT</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.swot %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Operations Plan</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.operations %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Marketing Plan</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.marketing %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Management Plan</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.management %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Financial Plan</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.financial %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Milestones</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.milestones %>
  </p>

  <h4 class="mb-0 mt-3" style="font-weight: bold;">Appendices</h4>
  <p class="mt-2 mb-0">
    <%= sanitize @business_plan.appendices %>
  </p>
</div>