<% content_for :title, "The Best Business Manangement Platform" %>

  <!-- start of banner -->
  <section class="banner bg-cover-bottom has-shapes bg-light-gray has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
	  <div class="container h-100">
	    <div class="d-block d-lg-flex no-gutters align-items-center h-100">
		    <div class="col-12 col-xl-8 col-lg-8 order-lg-1">
		      <div class="banner-image has-shapes mb-4 mb-md-5 mb-lg-0">
					<%= image_tag 'banner-shot.png' %> 

					<div class="shape-1 shape-sm bg-secondary rounded-circle"></div>
					<div class="shape-3 shape-sm-2 bg-primary rounded-circle"></div>
					<div class="shape-4 shape-sm-2 bg-primary rounded-circle"></div>
				</div>
		  </div>
		  <div class="col-xl-5 col-lg-6 order-lg-0">
		    <h2 class="h2 mb-20">Take control of your business <strong class="text-primary">with Brainstaq!</strong></h2>
		    <p>Set up your brand, create, analyze and manage your business documents</p>

				<form action="#" method="post" class="needs-validation mt-30" novalidate>
					<div class="input-group d-block d-sm-flex">
						<div class="input-group-append">
							<%= link_to about_path, class: "btn btn-primary has-icon" do %>Learn More
								<span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
								xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
								21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
								15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
							<% end %>
						</div>
					</div>
				</form>
				<% unless user_signed_in? %>
					<div class="divider-text mt-25 mb-25">
						<span class="bg-light-gray">OR GET STARTED</span>
					</div>
			  	<%#= link_to user_google_oauth2_omniauth_authorize_path do %>
					<%= link_to user_registration_path do %>
						<span class="btn btn-outline-primary w-100 mb-2">
							<i class="fa fa-user-plus"></i> Create an Account
						</span>
					<% end %>	
				<% end %>
			</div>
		</div>
			<div class="shape-1 shape-sm bg-secondary rounded-circle"></div>
			<div class="shape-3 shape-sm-2 bg-primary rounded-circle"></div>
			<div class="shape-4 shape-sm-2 bg-primary rounded-circle"></div>
			<div class="shape-5 shape-xs bg-secondary rounded-circle"></div>
			<div class="shape-6 shape-xs bg-tertiary rounded-circle"></div>
			<div class="shape-7 shape-xs-2 bg-tertiary rounded-circle"></div>
			<div class="shape-8 shape-xs-2 bg-primary rounded-circle"></div>
	</section>
  <!-- end of banner -->

	<!-- start of brand-carousel -->
	<section class="section-padding overflow-hidden">
		<div class="container">
		  <div class="row justify-content-center">
		    <div class="col-lg-6 col-md-9 text-center mb-80">
					<h2 class="section-title">Top <strong class="text-primary">Brands</strong></h2>
					<p>We celebrate innovative brands and projects with the potential to disrupt ecosystems in Africa </p>
		  	</div>
				<div class="container">
					<div class="row"> 
						<%= render partial: "layouts/enterprises", locals: { enterprises: @enterprises} %>
					</div>
					<div class="row justify-content-center mt-5">
						<div class="col-7 text-center">
							<%= link_to enterprises_path, class: "btn btn-primary has-icon" do %>View More
								<span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
								xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
								21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
								15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- start of how-it-works tab -->
	<section class="section-padding how-it-works-tab mt-5 pt-0 overflow-hidden">
	  <div class="container">
	    <div class="row justify-content-center">
		    <div class="col-lg-6 col-md-9 text-center mt-5 mb-5">
		      <h2 class="section-title">How <strong class="text-primary">it Works</strong></h2>
		      <p>Brainstaq provides the tools to help create and manage business ideas, projects and documents like 
						business plans, financial models, proposals, pitch decks, invoices, and raise funds via crowdfunding.</p>
		    </div>
		    <div class="col-lg-11">
					<ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist">
						<li class="nav-item mb-20" role="presentation">
							<a class="nav-link active" id="pill-management-tab" data-toggle="pill" href="#management-tab" role="tab" aria-controls="management-tab" aria-selected="true">
								<i class="circle-shape"></i>Setup Enterprise
							</a>
						</li>
						<li class="nav-item mb-20" role="presentation">
							<a class="nav-link" id="pill-chat-tab" data-toggle="pill" href="#chat-tab" role="tab" aria-controls="chat-tab" aria-selected="false">
								<i class="circle-shape"></i>Business Plan
							</a>
						</li>
						<li class="nav-item mb-20" role="presentation">
							<a class="nav-link" id="pill-analytics-tab" data-toggle="pill" href="#analytics-tab" role="tab" aria-controls="analytics-tab" aria-selected="false">
								<i class="circle-shape"></i>Brainstorming
							</a>
						</li>
						<li class="nav-item mb-20" role="presentation">
							<a class="nav-link" id="pill-collaboration-tab" data-toggle="pill" href="#collaboration-tab" role="tab" aria-controls="collaboration-tab" aria-selected="false">
								<i class="circle-shape"></i>Crowdfunding
							</a>
						</li>
					</ul>
					<div class="tab-content" id="pills-tabContent" data-aos="fade-in">
						<div class="tab-pane fade show active" id="management-tab" role="tabpanel" aria-labelledby="pill-management-tab">
							<div class="row align-items-center">
								<div class="col-lg-8 anim-to-top">
									<%= image_tag 'how-it-works-1.jpg', class: "img-fluid rounded-lg shadow" %>
								</div>
								<div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
									<h2 class="section-title">Setup <strong class="text-primary">Enterprise</strong></h2>
									<p class="mb-30">Easily setup your enterprise on Brainstaq, and get instant access to a complete 
											suite of business tools and documents already generated uniquely for your business.</p>
									<%= link_to how_it_works_path, class: "btn btn-primary has-icon" do %>View More
										<span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
										xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
										21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
										15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
									<% end %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="chat-tab" role="tabpanel" aria-labelledby="pill-chat-tab">
							<div class="row align-items-center">
								<div class="col-lg-8 anim-to-top">
									<%= image_tag '03.png', class: "img-fluid rounded-lg shadow" %>
								</div>
								<div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
									<h2 class="section-title">Business <strong class="text-primary">Plan</strong></h2>
									<p class="mb-30">Create and manage your business plan, financial models, and other documents, and 
											make informed decisions in real-time. </p>
										<%= link_to how_it_works_path, class: "btn btn-primary has-icon" do %>View More
										<span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
										xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
										21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
										15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
									<% end %>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="analytics-tab" role="tabpanel" aria-labelledby="pill-analytics-tab">
								<div class="row align-items-center">
									<div class="col-lg-8 anim-to-top">
										<%= image_tag '04.png', class: "img-fluid rounded-lg shadow" %>
									</div>
									<div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
										<h2 class="section-title">Brain<strong class="text-primary">storming</strong></h2>
										<p class="mb-30">Using our structured approach, you can brainstorm with your team and generate 
												really great ideas targeted at a specific problem.</p>
										<%= link_to how_it_works_path, class: "btn btn-primary has-icon" do %>View More
										<span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
										xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
										21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
										15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
									<% end %>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="collaboration-tab" role="tabpanel" aria-labelledby="pill-collaboration-tab">
								<div class="row align-items-center">
									<div class="col-lg-8 anim-to-top">
										<%= image_tag 'how-it-works-1.jpg', class: "img-fluid rounded-lg shadow" %>
									</div>
									<div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
										<h2 class="section-title">Crowd<strong class="text-primary">funding</strong></h2>
										<p class="mb-30">Share, validate, and market your ideas, projects, insights and inspiration and 
												attract funding by engaging the power of the crowd.</p>
										<%= link_to how_it_works_path, class: "btn btn-primary has-icon" do %>View More
										<span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
										xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
										21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
										15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
									<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
	    </div>
	  </div>
	</section>
	<!-- end of how-it-works tab -->

	<!-- start section -->
	<section id="why-us" class="section-padding how-it-works-tab pt-0 overflow-hidden wow fadeIn mb-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-9 text-center mt-5 mb-5">
					<h2 class="section-title">Trending <strong class="text-primary">Projects</strong></h2>
					<p>We celebrate innovative ideas and projects with the potential to disrupt ecosystems in Africa.</p>
				</div>
			</div>
		</div>

    <%= render partial: "layouts/ideas", locals: { ideas: @ideas} %>
		
	  </div>
	  <div class="row justify-content-center mt-4 mb-5">
		  <div class="col-7 text-center">
        <%= link_to ideas_path, class: "btn btn-primary has-icon" do %>View More
          <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" 
        xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473
        21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 
        15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
        <% end %>
		  </div>
	  </div>
  </section>
  <!-- end section -->

	<%= render partial: "layouts/growth_rate" %>

	<!-- start of image-info -->
	<section class="section-padding image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 col-md-7">
					<div class="has-shapes">
						<%= image_tag '03.png', class: "img-fluid py-4 my-2" %>

						<div class="shape-1 shape-sm bg-secondary rounded-circle"></div>
						<div class="shape-2 shape-xs-2 bg-tertiary rounded-circle"></div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<h2 class="section-title">Validate Your Ideas. <strong class="text-primary">Raise Funds.</strong></h2>
					<p>Share your ideas and projects with family and friends. Ideas are validated by the community and the general public by interacting with the ideas.
					Positive validations increase a project's ‘Relevance Bar’.</p>
				</div>
			</div>
		</div>
		<div class="shape-3 shape-xs-2 bg-secondary rounded-circle"></div>
		<div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
		<div class="shape-5 shape-sm bg-primary rounded-circle"></div>
		<div class="shape-6 shape-xs bg-secondary rounded-circle"></div>
		<div class="shape-7 shape-xs-2 bg-tertiary rounded-circle"></div>
	</section>
	<!-- end of image-info -->

	<!-- start of testimonials-carousel -->
	<section class="pt-0 has-shapes mt-40">
	  <div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-9 text-center">
					<h2 class="section-title">What Our<strong class="text-primary"> Clients Say</strong></h2>
					<p>
            We pride ourselves on providing an exceptional service to our clients, 
            but you don’t just have to take our word for it. 
            Read what our clients have to say about working with us.
          </p>
				</div>
			</div>
		</div>
</section>

<div class="testimonials-section has-shapes">
	<input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
	<input type="radio" name="slider" title="slide2" class="slider__nav"/>
	<input type="radio" name="slider" title="slide3" class="slider__nav"/>
	<input type="radio" name="slider" title="slide4" class="slider__nav"/>
	<input type="radio" name="slider" title="slide5" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">As an entrepreneur, I needed to take control of my business; Brainstaq made that possible.</p>
      <h2 class="slider__caption">Believe Ohiozua | CEO, AiStrides</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">We find the solutions that the platform provide incredibly valuable in sales.</p>
      <h2 class="slider__caption">Oguma Kingsley | CEO, Be Inspired</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">Our sales results have grown considerably since we first started working with Brainstaq.</p>
      <h2 class="slider__caption">Paul Okoro | CEO LessStress</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">Awesome experience working with the Brainstaq team. I'm sure we'll be doing more business together.</p>
      <h2 class="slider__caption">Emmanuel | CTO, Garage Sales</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">Brainstaq's staff are all so friendly and everybody goes above and beyond. Everything is quick and you get us what we need and we ALWAYS come back to Brainstaq.</p>
      <h2 class="slider__caption">Jane | Beauty Home</h2>
    </div>
  </div>
		<div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
	<div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
	<div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
	<div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
	<div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
	<div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
</div>

<!-- end of testimonials-carousel -->

<%= render partial: "layouts/cta" %>

<style>
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.testimonials-section {
  background: #fff;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 80px 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}
.slider__inner {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500%;
  height: auto;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__caption {
  font-size: 14px;
  color: #111;
  opacity: .5;
  font-family: 'Roboto';
  font-weight: bold;
}
.slider__txt {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto';
  line-height: 1.7;
  color: #111;
  margin-top: -20px;
  margin-bottom: 20px;
  max-width: 750px;
}
quote {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 100px;
  color: #ec2027;
  margin-bottom: 0;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

</style>
