<% content_for :title, "Share and Discover Disruptive Ideas" %>


<!--==========================
    Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h4 style="margin-top: 150px; font-family: Arial; font-size: 14px;" class="mb-2">SETUP YOUR BUSINESS</h4>
        <h2 style="font-family: Arial;" class="mb-2">Bring your ideas to life with <span> Brainstaq!</span></h2>
        <h3 style="margin-top: 0px; font-family: Arial; font-size: 24px;">Create, analyze and manage your business documents</h3>
        <div>
      		
          <% if user_signed_in? && current_user.subscribed_to_plan? %>
            <%#= button_to 'Get Started', plan_subscriptions_path(:code => post['plan_code'], :interval=> post['interval']), method: :post, class:"btn btn-success" %>
            <%= link_to 'EXPLORE TOOLS', '#', class: "btn rounded text-white", style: "font-size: 14px; font-weight: bold;" %>
          <% elsif user_signed_in? %>
            <%= link_to 'SETUP ENTERPRISE', new_plan_subscription_path, class: "btn rounded text-white", style: "font-size: 14px; font-weight: bold;" %>
          <% else %>
            <%= link_to 'GET STARTED', new_user_registration_path, class: "btn rounded text-white", style: "font-size: 14px; font-weight: bold;" %>
          <% end %>
          
        </div>
      </div>
      
      <div class="col-lg-4 ml-auto form-box" data-aos="fade-up" data-aos-delay="500" style="margin-top: 100px; margin-bottom: 50px;">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <small><%= render "devise/shared/error_messages", resource: resource %></small>
          
          <h5 class="text-center" style="font-size: 16px;">Discover Disruptive Ideas<br>
            <span class="text-black" style="font-weight: bold; font-size: 22px;" > Join Now!</span>
          </h5>
          
          <div class="form-group">
            <%= f.text_field :last_name, required: true, class: "form-control", placeholder: "Last Name" %>
          </div>
          
          <div class="form-group">
            <%= f.text_field :first_name, required: true, class: "form-control", placeholder: "First Name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :username, required: true, class: "form-control", placeholder: "Username" %>
          </div>

          <div class="form-group">
            <%= f.select :country, options_for_select([
            # ['Algeria'],
            # ['Angola'],
            # ['Benin'],
            # ['Botswana'],
            # ['Burkina Faso'],
            # ['Burundi'],
            # ['Cape Verde'],
            # ['Cameroon'],
            # ['Central African Republic (CAR)'],
            # ['Chad'],
            # ['Comoros'],
            # ['Republic of the Congo'],
            # ['Democratic Republic of Congo'],
            # ["Cote d'Ivoire"],
            # ['Djibouti'],
            # ['Egypt'],
            # ['Equatorial Guinea'],
            # ['Eritrea'],
            # ['Eswatini'],
            # ['Ethiopia'],
            # ['Gabon'],
            # ['Gambia'],
            # ['Ghana'],
            # ['Guinea'],
            # ['Guinea-Bissau'],
            # ['Kenya'],
            # ['Lesotho'],
            # ['Liberia'],
            # ['Libya'],
            # ['Madagascar'],
            # ['Malawi'],
            # ['Mali'],
            # ['Mauritania'],
            # ['Mauritius'],
            # ['Morocco'],
            # ['Mozambique'],
            # ['Namibia'],
            # ['Niger'],
            ['Nigeria']
            # ['Rwanda'],
            # ['Sao Tome and Principe'],
            # ['Senegal'],
            # ['Seychelles'],
            # ['Sierra Leone'],
            # ['Somalia'],
            # ['South Africa'],
            # ['South Sudan'],
            # ['Sudan'],
            # ['Tanzania'],
            # ['Togo'],
            # ['Tunisia'],
            # ['Uganda'],
            # ['Zambia'],
            # ['Zimbabwe']
            ]), {}, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email Address" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
          </div>

          <div class="form-group mb-2">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat Password" %>
          </div>
          
          <small>By signing up, you agree to Brainstaq's 
            <%= link_to 'Terms of Service', 'pages/terms', class: 'para-font' %> and
            <%= link_to 'Privacy Policy', 'pages/privacy', class: 'para-font' %> 
          </small>

          <div class="field captcha mt-2 form-group">
            <%#= recaptcha_tags %>
          </div>
          
          <div class="form-group"  style="margin-top: 10px; margin-bottom: 0px">
            <%= f.submit "CREATE ACCOUNT", class: "btn btn-block text-white", style: "font-weight: bold;" %>
          </div>
        <% end %>
      </div><!-- col end-->
    </div><!-- row end-->
  </div><!-- container end-->
</section><!-- #intro -->

<!--==========================
  Trending Ideas Section
============================-->
<main id="main">
  <section id="why-us" class="mb-0">
    <div class="container-fluid">  
      <header class="section-header mt-3">
        <h3>Trending<span class="text-primary"> Ideas</span></h3>
        <p style="font-size: 18px;">We celebrate innovative ideas and projects with the 
          potential to disrupt ecosystems in Africa
        </p>
      </header>
    </div>
     
    <%= render partial: "layouts/ideas", locals: { ideas: @ideas} %>
    
    <div class="row justify-content-center mt-5">
      <div class="col-7 text-center"> 
        <% if @page > 0 %>
          <%= link_to 'Prev', root_path(page: @page - 1), class: "btn rounded text-white mr-1" %>
        <% end %>
        <% if @ideas.count >= 3 %>
          <%= link_to 'Next', root_path(page: @page + 1), class: "btn rounded text-white ml-1" %>
        <% end %>
      </div>
    </div>
  </section>
  <%= render partial: "layouts/counter" %>
  <%= render partial: "layouts/cta" %>

  <!--==========================
    Features Section
  ============================-->
  <section id="features">
    <div class="container">
      <header class="section-header mt-0">
        <h3 style="margin-bottom: 0px;">What<span class="text-primary"> Brainstaq</span> can do for you</h3>
        <p style="font-size: 18px; margin-top: 0px;">Explore Brainstaq features</p>
      </header>
      <div class="row feature-item">
        <div class="col-lg-6 wow fadeInUp">
          <%= image_tag 'features-1.svg', class: "img-fluid" %>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4 class="text-primary" style="font-size: 18px; margin-bottom: 0px;">Entrepreneurs</h4>
          <h4 style="margin-top: 0px;">Seize the opportunities Brainstaq presents</h4>
          <p>
            Without adequate finances and funding, most of the ideas that can 
            change the African narrative are rarely able to break out from 
            being just an idea, let alone grow into a tangible business.
          </p>
          <p>
            <li>Share your ideas, creations or insights</li>
            <li>Get positive validations</li>
            <li>Build a team and,</li>  
            <li>Raise funds</li>
          </p>
          <%
=begin%>
 <p>
            Don’t watch that idea, project, or business disappear due to lack of funds. 
            Brainstaq will help you develop that business idea and build the resilience 
            needed to sustain your business over a period of time.
          </p> 
<%
=end%>
        </div>
      </div>

      <div class="row feature-item mt-5 pt-5">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <%= image_tag 'features-2.svg', class: "img-fluid" %>
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4 class="text-primary" style="font-size: 18px; margin-bottom: 0px;">Startups</h4>
          <h4 style="margin-top: 0px;">Brainstaq empowers disruptive African ideas!</h4>

          <p>
            We believe every African entrepreneur should have the tools to create the 
            solutions of tomorrow. And Brainstaq makes this easier! 
            With our user-friendly ideas-sharing and crowdfunding platform, 
            African entrepreneurs can start, nurture and grow their desired businesses 
            sustainably. 
          </p>
          <p>
            <li>Create and manage business documents</li>
            <li>Manage deals and contacts</li>
            <li>Reach your preferred audience</li>  
            <li>Explore our marketplace</li>
          </p>
        </div>  
      </div>
    </div>
  </section>
  
  <%= render partial: "layouts/faq" %>
  
</main>
