<%= form_with(model: enterprise, local: true) do |form| %>
  <% if enterprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

      <ul>
        <% enterprise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="idea-form container col-lg-8", style= "margin-top: 100px;">
    <div class="row m-auto">
      <div class="col-sm-12 form-group">
        <%= form.label :brand_name, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :name, :readonly => form.object.persisted?, maxlength: "23", 
        class: "form-control", placeholder: "Enter brand name"  %>
      </div>

      <div class="col-sm-12 form-group">
        <%= form.label :brand_category, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.collection_select(:category_id, Category.all, :id, :name, 
        {prompt: 'Select brand category'}, class: "form-control") %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :brand_info, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :info, class: "form-control tinymce", placeholder: "About your brand"%>
        <%= tinymce %>
      </div> 

      <div class="form-group col-sm-12">
        <%= form.label :address, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :address, class: "form-control tinymce", placeholder: "Brand address"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :email, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :email, class: "form-control tinymce", placeholder: "Brand email address"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :phone_number, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :phone_number, class: "form-control tinymce", placeholder: "Enter phone number"%>
        <%= tinymce %>
      </div>
      
      <div class="form-group col-sm-12">
        <%= form.label :country, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :country, class: "form-control tinymce", placeholder: "Enter country"%>
        <%= tinymce %>
      </div>
      
      <div class="form-group col-sm-12">
        <%= form.label :state, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :state, class: "form-control tinymce", placeholder: "Enter state"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :city, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :city, class: "form-control tinymce", placeholder: "Enter city"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :website, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :website_url, placeholder: "Enter your website... e.g http://example.com", class: "form-control" %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :facebook_url, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :facebook_url, placeholder: "Enter your Facebook profile link... e.g https://facebook.com/profile", class: "form-control" %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :twitter_url, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :twitter_url, placeholder: "Enter your Twitter profile link... e.g https://twitter.com/profile", class: "form-control" %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :instagram_url, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :instagram_url, placeholder: "Enter your Instagram profile link... e.g https://instagram.com/profile", class: "form-control" %>
      </div>

      <div class="field">
        <%= form.text_field :user_id, value: current_user.id, class: 'd-none' %>
      </div>
    
      <div class="col-sm-12">
        <%= form.label :brand_logo, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.file_field :image %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :products, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :products, class: "form-control tinymce", placeholder: "Describe your products"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :services, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :services, class: "form-control tinymce", placeholder: "Describe your services"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :portfolio, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :portfolio, class: "form-control tinymce", placeholder: "Enter brand portfolio"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :team, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :team, class: "form-control tinymce", placeholder: "Describe your team"%>
        <%= tinymce %>
      </div>
            
      <div class="col-sm-12">
        <%= form.hidden_field :image_cache %>
      </div>

      <br>
      <hr/>
  
    </div>
    <div class="form-group col-sm-12 m-0" style="padding-left: 15px; padding-right: 30px; padding-bottom: 60px;">
      <%= form.submit 'Create Brand', class: "actions btn rounded btn-primary float-right" %>
       <%= link_to 'Back', enterprises_path, class: "btn btn-secondary rounded" %>
    </div>
  </div>
<% end %>
