<% content_for :title, "Brand" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Brand</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Brands", enterprises_path, class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Brand</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<main style="padding-top: 100px; background-color: #fff;">
  <div class="container-fluid col-lg-10 mb-5">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @enterprise.image_url, class: "img-fluid rounded mb-3 mb-md-0", width:'100%', height:'80%' if @enterprise.image.present? %>
      </div>
      
      <div class="container-fluid col-lg-6">
        <button type="button" class="btn btn-primary btn-sm my-3 float-right rounded" disabled>
          <% if @enterprise.category %>
            <%= @enterprise.category.name %>
          <% else %>
            <%= 'General' %>
          <% end %>
        </button>
        <h3 class="card-title" style="margin-bottom: -3px; font-size: 30px; font-weight: bold;">
          <%= @enterprise.name.titleize %>
        </h3>
      
        <small>Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
          on <%= local_time(@enterprise.created_at) %>
        </small>
        <p class="card-text">
          <%= truncate(sanitize(@enterprise.info, tags: []), length: 300) %>
        </p>

        <% if user_signed_in? %>
          <% if current_user.id == @enterprise.user_id %>
            <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger mt-4 mr-2 mb-2", style: "font-size: 20px;"), 
                enterprise_path(@enterprise), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to fa_icon("edit", title: "Edit Brand", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), 
                edit_enterprise_path(@enterprise) %>   
          <% end %>
        <% end %>
        <%# <ul class="list-group list-group-horizontal-sm mt-4" style="font-size: 12px;">
          <li class="list-group-item"><span class="fa fa-comments text-primary"></span> Business Plan</li>
          <li class="list-group-item"><span class="fa fa-eye text-primary"></span> Pitch Deck</li>
          <li class="list-group-item"><span class="fa fa-heart text-primary"></span> Company Profile</li>
          <li class="list-group-item"><span class="fa fa-filter text-primary"></span> Invoice</li>
        </ul> %>
        <div class="d-flex flex-row justify-content-between mt-3">
          <div class="d-flex flex-row justify-content-center">
            <div class="social-links mt-2">
              <% if @enterprise.website_url.present? %>
                <%= link_to (@enterprise.website_url), target: "_blank", title: "#{@enterprise.website_url}" do %>
                  <i class="fas fa-globe mr-1"></i>
                <% end %>
              <% end %>

              <% if @enterprise.facebook_url.present? %>
                <%= link_to (@enterprise.facebook_url), target: "_blank", title: "#{@enterprise.facebook_url}" do %>
                  <i class="fab fa-facebook mr-1"></i>
                <% end %>
              <% end %>

              <% if @enterprise.twitter_url.present? %>
                <%= link_to (@enterprise.twitter_url), target: "_blank", title: "#{@enterprise.twitter_url}" do %>
                  <i class="fab fa-twitter mr-1"></i>
                <% end %>
              <% end %>

              <% if @enterprise.instagram_url.present? %>
                <%= link_to (@enterprise.instagram_url), target: "_blank", title: "#{@enterprise.instagram_url}" do %>
                  <i class="fab fa-instagram mr-1"></i>
                <% end %>
              <% end %>
            </div>

          </div>
          <small class="pt-2">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </small>
        </div>
      </div>

      <% if user_signed_in? && current_user.id == @enterprise.user_id %>
        <div class="col-lg-8 mt-5">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link title-blk active" id="business-plan-tab" data-toggle="tab" href="#business-plan" role="tab" aria-controls="details" aria-selected="true">Business Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link title-blk" id="pitch-deck-tab" data-toggle="tab" href="#pitch-deck" role="tab" aria-controls="comments" aria-selected="false">Pitch Deck</a>
            </li>
            <li class="nav-item">
              <a class="nav-link title-blk" id="company-profile-tab" data-toggle="tab" href="#company-profile" role="tab" aria-controls="support" aria-selected="false">Company Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link title-blk" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="support" aria-selected="false">Invoice</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="business-plan" role="tabpanel" aria-labelledby="business-plan-tab">
              <div class="card card-body mt-5">
                <% unless @enterprise.business_plan.present?  %>
                  <p>You don't have any business plan. <%= link_to "Create one", new_business_plan_path %> now!</p>
                <% else %>
                  <h3 class="mt-2 mb-2 text-center" style="font-size: 20px; font-weight: bold;">
                  Business Plan for <%= @enterprise.name.titleize %>
                </h3>
                <small class="text-center">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
                  on <%= local_time(@enterprise.business_plan.created_at) %>
                </small>
                
                <%= image_tag @enterprise.image_url, class: "img-fluid rounded mb-3 mb-md-0", width:'100%', height:'80%' if @enterprise.image.present? %>
              
                <h4 class="mb-0 mt-3" style="font-weight: bold;">Executive Summary</h4>
                <p class="mt-0 mb-0">
                  <%= sanitize @business_plan.executive_summary %>
                </p>
              
                <h4 class="mb-0" style="font-weight: bold;">Problem</h4>
                <p class="mt-0 mb-0">
                  <%#= sanitize @idea.challenges %>
                </p>
              
                <h4 class="mb-0" style="font-weight: bold;">Solution</h4>
                <p class="mt-0 mb-0">
                  <%#= sanitize @idea.overview %>
                </p>

                <h4 class="mb-0" style="font-weight: bold;">Impact</h4>
                <p class="mt-0 mb-0">
                  <%#= sanitize @idea.impact %>
                </p>

                <h4 class="mb-0" style="font-weight: bold;">Funding Goal</h4>
                <p class="mt-0 mb-0">
                  <%#= number_to_currency(@idea.donation_goal, :unit => "₦") %>
                </p>
                <% end %>
              </div>
            </div>
          
            <div class="tab-pane fade" id="pitch-deck" role="tabpanel" aria-labelledby="pitch-deck-tab">
              <div class="card card-body mt-5">
                <% unless @enterprise.business_plan.present?  %>
                  <p>You don't have any pitch deck. <%= link_to "Create one", '#' %> now!</p>
                <% else %>
                  <h3 class="mt-2 mb-2 text-center" style="font-size: 20px; font-weight: bold;">
                    Pitch Deck for <%= @enterprise.name.titleize %>
                  </h3>
                  <small class="text-center">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
                    on <%= local_time(@enterprise.created_at) %>
                  </small>
                <% end %>
              </div>
            </div>
            
            <div class="tab-pane fade" id="company-profile" role="tabpanel" aria-labelledby="company-profile-tab">
              <div class="card card-body mt-5">
                <% unless @enterprise.business_plan.present?  %>
                  <p>You don't have any company profile. <%= link_to "Create one", "#" %> now!</p>
                <% else %>
                  <h3 class="mt-2 mb-2 text-center" style="font-size: 20px; font-weight: bold;">
                    Company Profile for <%= @enterprise.name.titleize %>
                  </h3>
                  <small class="text-center">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
                    on <%= local_time(@enterprise.created_at) %>
                  </small>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
              <div class="card card-body mt-5">
              <% unless @enterprise.business_plan.present?  %>
                  <p>You don't have any invoice. <%= link_to "Create one", "#" %> now!</p>
                <% else %>
                  <h3 class="mt-2 mb-2 text-center" style="font-size: 20px; font-weight: bold;">
                    Invoice for <%= @enterprise.name.titleize %>
                  </h3>
                  <small class="text-center">Created by <%= link_to (@enterprise.user.full_name.titleize), profile_path(@enterprise.user.username, @user) %> 
                    on <%= local_time(@enterprise.created_at) %>
                  </small>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% unless user_signed_in? %>
      <%= render partial: "layouts/cta" %>  
    <% end %>
</main>