<%= form_with(model: plan_subscription, local: true) do |form| %>

 <% if plan_subscription.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(plan_subscription.errors.count, "error") %> 
          prohibited this subscription from being saved:
      </h2>

      <ul>
        <% plan_subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan_code %>
    <%= form.text_field :plan_code, id: :plan_subscription_plan_code %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :plan_subscription_amount %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :plan_subscription_user_id %>
  </div>

  <div class="field">
    <%= form.label :expires_on %>
    <%= form.date_select :expires_on, id: :plan_subscription_expires_on %>
  </div>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference, id: :plan_subscription_reference %>
  </div>

  <div class="field">
    <%= form.label :customer_code %>
    <%= form.text_field :customer_code, id: :plan_subscription_customer_code %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :plan_subscription_customer_id %>
  </div>

  <div class="field">
    <%= form.label :paid_at %>
    <%= form.text_field :paid_at, id: :plan_subscription_paid_at %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
