<% content_for :title, "Transaction Data" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Pricing</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Pricing</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Transaction Response</h3>
  </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
  <div>
    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-8 col-lg-8 d-none d-lg-block">
    <div class="card">
      <div style="font-size:16px;">
        <div class="card-body card-body">
          <div class="card-header">
            <h5 class="card-title"><strong>Status - <%= @res['status'] %></strong></h5>
            <div class="text-center py-20">
            <div data-provide="peity" data-type="donut" data-size="150" data-inner-radius="55" data-fill="#efb3e6,#ffdf7c,#b2def7">Lawfirm Email - <%= @customer['email'] %></div>
          </div>
        </div>
        <div class="card-body card-body">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td> <strong>Reference:</strong></td>
                <td><%= @res['reference'] %></td>
              </tr>
              <tr>
                <td><strong>Aount:</strong></td>
                <td><%= @res['amount']/100 %></td>
              </tr>

              <tr>
                <td><strong>Channel:</strong></td>
                <td><%= @res['channel'] %></td>
              </tr>

              <tr>
                <td><strong>Gateway Response:</strong></td>
                <td><%= @res['gateway_response'] %></td>
              </tr>

              <tr>
                <td><strong>Currency:</strong></td>
                <td><%= @res['currency'] %></td>
              </tr>

              <tr>
                <td><strong>IP Address:</strong></td>
                <td><%= @res['ip_address'] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  Click <%= link_to 'Here', dashboard_path(current_user.full_name), class:"btn btn-info" %> to access your dashboard.