<div>
	<div class="container pt-5 pb-3">
		<h3 class="mb-3" style="font-size: 24px; font-weight: bold;">
			Assumptions
		</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="card bg-info cp-tax">
					<div class="card-body">
						<div class="row">
							<div class="col mt-0 text-white">
								<h5 class="card-title text-white">Company Tax Rate</h5>
							</div>
							<div class="col-auto">
								<div class="text-white">
									<i class="fa fa-calculator"></i>
								</div>
							</div>
						</div>
						<h1 class="mt-1 mb-3 text-white"><%= @business_plan.company_tax_rate.ceil %>%</h1>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-info cp-tax">
					<div class="card-body">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title text-white">Bank Interest Rate</h5>
							</div>
							<div class="col-auto">
								<div class="text-white">
									<i class="fa fa-money-check"></i>
								</div>
							</div>
						</div>
						<h1 class="mt-1 mb-3 text-white"><%= @business_plan.bank_interest_rate.ceil %>%</h1>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-info">
					<div class="card-body">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title text-white">Inflation Rate</h5>
							</div>
							<div class="col-auto">
								<div class="text-white">
									<i class="fa fa-chart-line"></i>
								</div>
							</div>
						</div>
						<h1 class="mt-1 mb-3 text-white"><%= @business_plan.inflation_rate.ceil %>%</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="container pb-5">
		<div class="row">
			<div class="col-md-4">
				<div class="card bg-info cp-tax">
					<div class="card-body">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title text-white">Receivable Days</h5>
							</div>
							<div class="col-auto">
								<div class="text-white">
									<i class="fa fa-coins"></i>
								</div>
							</div>
						</div>
						<h1 class="mt-1 mb-3 text-white"><%= @business_plan.receivable_days %></h1>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-info cp-tax">
					<div class="card-body">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title text-white">Payable Days</h5>
							</div>
							<div class="col-auto">
								<div class="text-white">
									<i class="fa fa-file-invoice"></i>
								</div>
							</div>
						</div>
						<h1 class="mt-1 mb-3 text-white"><%= @business_plan.payable_days %></h1>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-info">
					<div class="card-body">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title text-white">Inventory Days</h5>
							</div>
							<div class="col-auto">
								<div class="text-white">
									<i class="fa fa-landmark"></i>
								</div>
							</div>
						</div>
						<h1 class="mt-1 mb-3 text-white"><%= @business_plan.inventory_days %></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pb-5">
	<div class="row">
		<div class="col-xl-6 col-xxl-5 d-flex">
			<div class="w-100">
				<div class="row">
					<div class="col-sm-6">
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col mt-0">
										<h5 class="card-title">Startup Financing</h5>
									</div>
									<div class="col-auto">
										<div class="text-primary">
											<i class="fa fa-landmark"></i>
										</div>
									</div>
								</div>
								<% if @business_plan.savings.present? %>
									<h1 class="mt-1 mb-3"><%= @business_plan.savings %>%</h1>
								<% else %>
									<h1 class="mt-1 mb-3">0%</h1>
								<% end %>
								<div class="mb-0">
									<span class="text-muted">Savings or Owner's Capital</span>
								</div>
							</div>
						</div>

						<div class="card cp-tax">
							<div class="card-body">
								<div class="row">
									<div class="col mt-0">
										<h5 class="card-title">Startup Financing</h5>
									</div>
									<div class="col-auto">
										<div class="text-primary">
											<i class="fa fa-landmark"></i>
										</div>
									</div>
								</div>
								<% if @business_plan.grants.present? %>
									<h1 class="mt-1 mb-3"><%= @business_plan.grants %>%</h1>
								<% else %>
									<h1 class="mt-1 mb-3">0%</h1>
								<% end %>
								<div class="mb-0">
									<span class="text-muted">Grants</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col mt-0">
										<h5 class="card-title">Startup Financing</h5>
									</div>
									<div class="col-auto">
										<div class="text-primary">
											<i class="fa fa-landmark"></i>
										</div>
									</div>
								</div>
								<% if @business_plan.equity.present? %>
									<h1 class="mt-1 mb-3"><%= @business_plan.equity %>%</h1>
								<% else %>
									<h1 class="mt-1 mb-3">0%</h1>
								<% end %>
								<div class="mb-0">
									<span class="text-muted">Equity</span>
								</div>
							</div>
						</div>
						<div class="card cp-tax">
							<div class="card-body">
								<div class="row">
									<div class="col mt-0">
										<h5 class="card-title">Startup Financing</h5>
									</div>
									<div class="col-auto">
										<div class="text-primary">
											<i class="fa fa-landmark"></i>
										</div>
									</div>
								</div>
								<% if @business_plan.debt.present? %>
									<h1 class="mt-1 mb-3"><%= @business_plan.debt %>%</h1>
								<% else %>
									<h1 class="mt-1 mb-3">0%</h1>
								<% end %>
								<div class="mb-0">
									<span class="text-muted">Debt or Loan</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-6 col-xxl-7">
			<div class="card flex-fill w-100">
				<div class="card-header">

					<h5 class="card-title mb-0">Debt Financing</h5>
				</div>
				<div class="card-body py-3">
					<div class="chart chart-sm">
						<div class="container mt-3">
							<div class="row">
								<div class="col-12 table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th scope="col">Debt Facility</th>
												<th scope="col"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Loan Year</td>
													<td><%= @business_plan.loan_year %></td>
												</tr>
												<tr>
													<td>Loan Amount</td>
													<% if @business_plan.debt? %>
														<td><%= number_to_currency(@loan_amount, :unit => "₦") %></td>
													<% else %>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<% end %>
												</tr>
												<tr>
													<td>Repayment Period</td>
													<td><%= @business_plan.repayment_period %></td>
												</tr>
												<tr>
													<td>Loan End</td>
													<td class="bg-info text-white"><%= @loan_end %></td>
												</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container pb-5">
			<div class="row">
				<div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Direct Costs</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<div class="container mt-3">
									<div class="row">
										<div class="col-12 table-responsive">
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th scope="col">Item</th>
														<th scope="col">Cost</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Raw Material Cost</td>
														<td><%= number_to_currency(@business_plan.raw_material_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Direct Labour Cost</td>
														<td><%= number_to_currency(@business_plan.direct_labour_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Factory Overhead</td>
														<td><%= number_to_currency(@business_plan.factory_overhead, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Inbound Transport</td>
														<td><%= number_to_currency(@business_plan.inbound_transport, :unit => "₦") %></td>
													</tr>
												</tbody>
												<tr>
													<td scope="col" style="font-weight: bold;"> Total Direct Costs: </td>
													<td class="mb-3 bg-info text-white" style="font-weight: bold;">
														<%= number_to_currency(@total_direct_cost, :unit => "₦") %>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Depreciation Rates</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<div class="container mt-3">
									<div class="row">
										<div class="col-12 table-responsive">
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th scope="col">Item Name</th>
														<th scope="col">Depreciation</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Building</td>
														<td><%= @business_plan.dep_building.ceil %>%</td>
													</tr>
													<tr>
														<td>Furniture</td>
														<td><%= @business_plan.dep_furniture.ceil %>%</td>
													</tr>
													<tr>
														<td>Equipment/Machinery</td>
														<td><%= @business_plan.dep_machinery.ceil %>%</td>
													</tr>
													<tr>
														<td>Installations</td>
														<td><%= @business_plan.dep_installations.ceil %>%</td>
													</tr>
													<tr>
														<td>Vehicles</td>
														<td><%= @business_plan.dep_vehicles.ceil %>%</td>
													</tr>
												</tbody>
												
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<%# --------------------------------------------- %>


		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Fixed Costs</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<div class="container mt-3">
									<div class="row">
										<div class="col-12 table-responsive">
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th scope="col">Item</th>
														<th scope="col">Cost</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Salaries & Wages</td>
														<td><%= number_to_currency(@business_plan.salaries_one, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Rent</td>
														<td><%= number_to_currency(@business_plan.rent_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Utilities</td>
														<td><%= number_to_currency(@business_plan.utilities_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Marketing & Adverts</td>
														<td><%= number_to_currency(@business_plan.marketing_cost, :unit => "₦") %></td>
													</tr>
													<td>Administrative</td>
														<td><%= number_to_currency(@business_plan.admin_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Maintenance</td>
														<td><%= number_to_currency(@business_plan.website_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Communication</td>
														<td><%= number_to_currency(@business_plan.telephone_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Logistics</td>
														<td><%= number_to_currency(@business_plan.transport_cost, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Miscellaneous</td>
														<td><%= number_to_currency(@business_plan.misc, :unit => "₦") %></td>
													</tr>
												</tbody>
												<tr>
													<td scope="col" style="font-weight: bold;"> Total Fixed Costs: </td>
													<td class="mb-3 bg-info text-white" style="font-weight: bold;">
														<%= number_to_currency(@total_fixed_cost, :unit => "₦") %>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Startup Costs</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<div class="container mt-3">
									<div class="row">
										<div class="col-12 table-responsive">
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th scope="col">Startup Item</th>
														<th scope="col">Cost</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Land</td>
														<td><%= number_to_currency(@business_plan.land, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Rent</td>
														<td><%= number_to_currency(@business_plan.rent, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Office Supplies</td>
														<td><%= number_to_currency(@business_plan.office_supplies, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Equipment</td>
														<td><%= number_to_currency(@business_plan.equipment, :unit => "₦") %></td>
													</tr>
													<td>Vehicles</td>
														<td><%= number_to_currency(@business_plan.vehicles, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Utilities</td>
														<td><%= number_to_currency(@business_plan.utilities, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Opening Inventory</td>
														<td><%= number_to_currency(@business_plan.opening_inventory, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Initial Working Capital</td>
														<td><%= number_to_currency(@business_plan.capital, :unit => "₦") %></td>
													</tr>
													<tr>
														<td>Contingency</td>
														<td><%= number_to_currency(@business_plan.contingency, :unit => "₦") %></td>
													</tr>
												</tbody>
												<tr>
													<td scope="col" style="font-weight: bold;"> Total Startup Costs: </td>
													<td class="mb-3 bg-info text-white" style="font-weight: bold;">
														<%= number_to_currency(@total_cost, :unit => "₦") %>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


<% if @business_plan.equity.present? %>
	<div class="container">
		<h3 class="mt-5 mb-3" style="font-size: 18px; font-weight: bold;">
			Equity Financing
		</h3>
		<div class="row">
			<div class="col-12 table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Year One</th>
							<th scope="col">Year Two</th>
							<th scope="col">Year Three</th>
							<th scope="col">Year Four</th>
							<th scope="col">Year Five</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>Equity Injection</td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity, :unit => "₦") %></td>
								<td><%= number_to_currency(@business_plan.equity_injection_one, :unit => "₦") %></td>
								<td><%= number_to_currency(@business_plan.equity_injection_two, :unit => "₦") %></td>
								<td><%= number_to_currency(@business_plan.equity_injection_three, :unit => "₦") %></td>
								<td><%= number_to_currency(@business_plan.equity_injection_four, :unit => "₦") %></td>
							</tr>
							<tr>
								<td>Opening Balance</td>
								<td class="bg-info text-white">₦0.00</td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_2, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_3, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_4, :unit => "₦") %></td>
							</tr>
							<tr>
								<td>Closing Balance</td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_2, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_3, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_4, :unit => "₦") %></td>
								<td class="bg-info text-white"><%= number_to_currency(@calculated_equity_5, :unit => "₦") %></td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>
