<div class="container">
	<h3 class="mt-5 mb-3" style="font-size: 18px; font-weight: bold;">
		
	</h3>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm table-bordered table-hover">
        <thead>
          <tr>
						<th scope="col"></th>
            <th scope="col">Year One</th>
            <th scope="col">Year Two</th>
            <th scope="col">Year Three</th>
						<th scope="col">Year Four</th>
            <th scope="col">Year Five</th>
          </tr>
        </thead>
				<tbody>
          <tr>
            <td style="font-weight:bold;">ASSETS</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Current Assets</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Cash & Cash Equivalents</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Accounts Receivable</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Inventory</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
					</tr>
          <tr>
            <td style="padding-left:25px;font-weight:bold;">Total Current Assets</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Non-Current Assets</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Property, Plant & Equipment</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
					</tr>
          <tr>
            <td style="font-weight:bold;">Total Assets</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">LIABILITIES & EQUITY</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Liabilities</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Accounts Payable</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Tax Payable</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Total Liabilities</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Non-Current Liabilities</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Long Term Loan</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Shareholders' Equity</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Investment Capital</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Retained Earnings</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Total Shareholders' Equity</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Total Liabilities & Equity</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
				</tbody>
      </table>
    </div>
  </div>
</div>