<div class="container">
	<h3 class="mt-5 mb-3" style="font-size: 18px; font-weight: bold;">
		
	</h3>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm table-bordered table-hover">
        <thead>
          <tr>
						<th scope="col"></th>
            <th scope="col">Year One</th>
            <th scope="col">Year Two</th>
            <th scope="col">Year Three</th>
						<th scope="col">Year Four</th>
            <th scope="col">Year Five</th>
          </tr>
        </thead>
				<tbody>
          <tr>
            <td style="font-weight:bold;">OPERATING ACTIVITIES</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Net Earnings</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:50px;">Plus: Taxation</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:50px;">Plus: Interest Expense</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:50px;">Plus: Depreciation</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
						</tr>
          <tr>
            <td style="padding-left:50px;">Minus: Changes in Working Capital</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Net Operating Cashflow</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">INVESTING ACTIVITIES</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Purchase of CAPEX</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Net Investing Cashflow</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">FINANCING ACTIVITIES</td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Equity Injection</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Loan Taken</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Loan Repayment</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Loan Interest</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Net Financing Cashflow</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Cash Generated During the Year</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="padding-left:25px;">Cash at the Beginning of the Year</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Cash at the End of the Year</td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
            <td style="font-weight:bold;"><%=  %></td>
          </tr>
				</tbody>
      </table>
    </div>
  </div>
</div>