  <% @enterprises.in_groups_of(3) do |group| %>
    <div class="container mb-3">
      <div class="row">
        <% group.compact.each do |enterprise| %>
          <div class="col-md-4">
            <div class="card mt-4 p-4">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <a href="<%= enterprise_url(enterprise) %>">
                  <%= image_tag enterprise.image_url, width:'flex', height:'50px' if enterprise.image.present?  %>
                </a>
                <small class="text-muted"><i class="fas fa-map-marker-alt mr-1"></i> <%= enterprise.country %></small>
                <span class="idea-category" style="font-size: 12px; font-weight: bold;">
                  <% if enterprise.category %>
                    <%= enterprise.category.name %>
                  <% else %>
                    <%= 'General' %>
                  <% end %>
                </span>
              </div>

              <p class="text-muted mt-2 mb-2">
                <a href="<%= enterprise_url(enterprise) %>" class="text-decoration-none text-dark">
                  <h3 class="mb-1"><%= link_to enterprise.name.titleize, enterprise, class: 'text-dark', style: "font-weight: bold;" %></h3> 
                  <%= truncate(sanitize(enterprise.info, tags: []), length: 120) %>
                </a>
              </p>

              <div class="d-flex flex-row justify-content-between mt-3">
                <div class="d-flex flex-row justify-content-center">
                  <a href="#" class="text-decoration-none text-dark"><i class="fab fa-facebook mr-2 ml-0"></i></a>
                  <a href="#" class="text-decoration-none text-dark"><i class="fab fa-instagram mr-2 ml-0"></i></a>
                  <a href="#" class="text-decoration-none text-dark"><i class="fas fa-globe"></i></a>
                </div>
                <small class="pt-2">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </small>
              </div>
            </div>
          </div>        
        <% end %>

      </div>
    </div>
  <% end %>

    <style>
      .container > .row {
        clear: both;
      }
    </style> 