<!-- start of header -->
<header class="header-nav position-relative bg-light-gray" id="top" data-spy="scroll" data-target="#navbar-spy">
  <div class="container">
    <nav class="navbar navbar-expand-xl navbar-light px-0">
      <%= link_to (image_tag 'logo.png', class:"img-fluid navbar-brand p-0", style:"width:150px; height: 50px;"), root_path %>
      <!-- logo -->

      <button class="navbar-toggler bg-white rounded-0 p-0" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navlinks" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="nav-toggle-icon" viewBox="0 0 100 100" width="40" onclick="this.classList.toggle('active')"><path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" /><path class="line middle" d="m 70,50 h -40" /><path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" /></svg>
      </button>
      <!-- mobile-nav control button -->

      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navlinks">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <%= link_to dashboard_path(current_user.full_name), title: "Dashboard", class: "text-decoration-none" do %>
                <span class="nav-link"> Dashboard</span>
              <% end %>
            </li>
            
            <li class="nav-item dropdown @@pricing">
              <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-1">Discover</span>
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
              </a>
              <ul class="dropdown-menu">
                <li> 
                  <%= link_to enterprises_path, title: "Brands", class: "text-decoration-none" do %>
                    <span class="nav-link dropdown-item @@pricingOne">Brands</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to ideas_path, title: "Projects", class: "text-decoration-none" do %>
                    <span class="nav-link dropdown-item @@pricingTwo">Projects</span>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </div>  
        <% else %>
        <div class="collapse navbar-collapse" id="navlinks">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="how-it-works.html">Tour</a>
            </li>
            <li class="nav-item dropdown @@pricing">
              <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-1">Discover</span>
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to enterprises_path, title: "Brands", class: "text-decoration-none" do %>
                    <span class="nav-link dropdown-item @@pricingOne">Brands</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to ideas_path, title: "Projects", class: "text-decoration-none" do %>
                    <span class="nav-link dropdown-item @@pricingTwo">Projects</span>
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="nav-item @@about">
              <%= link_to new_plan_subscription_path, title: "Pricing", class: "text-decoration-none" do %>
                <span class="nav-link">Pricing</span>
              <% end %>
            </li>
            <li class="nav-item @@about">
              <%= link_to "#", title: "Support", class: "text-decoration-none" do %>
                <span class="nav-link">Support</span>
              <% end %>
            </li>
          </ul>
        <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
          <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-3 rounded', placeholder: 'Search' %>
        <% end %>
        <div class="navbar-button">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-sm btn-outline-primary" %>
          <%= link_to new_user_session_path, class: "btn btn-sm btn-link pr-xl-0" do %>Log In
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          <% end %>
        </div>
      <% end %>
      </div>
      <!-- nav links -->
    </nav>
  </div>


  
  <!-- end of header -->
</header>