<div class="container">
	<h3 class="mt-5 mb-3" style="font-size: 18px; font-weight: bold;">
		
	</h3>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm table-bordered table-hover">
        <thead>
          <tr>
						<th scope="col"></th>
            <th class="text-center" scope="col">Year One</th>
            <th class="text-center" scope="col">Year Two</th>
            <th class="text-center" scope="col">Year Three</th>
						<th class="text-center" scope="col">Year Four</th>
            <th class="text-center" scope="col">Year Five</th>
          </tr>
        </thead>
				<tbody>
          <tr>
            <td style="font-weight:bold;">REVENUE</td>
          </tr>
          <% @business_plan.products_and_growth_rates.each do |products_and_growth_rate| %>
						<tr>
							<td><%= products_and_growth_rate.product_name %></td>
							<td class="text-right"><%= number_to_currency(products_and_growth_rate.revenue_1, :unit => "₦") %></td>
							<td class="text-right"><%= number_to_currency(products_and_growth_rate.revenue_2, :unit => "₦") %></td>
							<td class="text-right"><%= number_to_currency(products_and_growth_rate.revenue_3, :unit => "₦") %></td>
							<td class="text-right"><%= number_to_currency(products_and_growth_rate.revenue_4, :unit => "₦") %></td>
							<td class="text-right"><%= number_to_currency(products_and_growth_rate.revenue_5, :unit => "₦") %></td>
						</tr>
          <% end %>
          <tr>
            <td style="font-weight:bold;" class="text-primary">Total Revenue</td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@business_plan.total_revenue_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@business_plan.total_revenue_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@business_plan.total_revenue_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@business_plan.total_revenue_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@business_plan.total_revenue_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">
              DIRECT COSTS
            </td>
          </tr>
          <tr>
            <td>Raw Materials</td>
            <td class="text-right"><%= number_to_currency(@business_plan.raw_materials_op_cost_1.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.raw_materials_op_cost_2.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.raw_materials_op_cost_3.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.raw_materials_op_cost_4.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.raw_materials_op_cost_5.ceil, :unit => "₦") %></td>
          </tr>
          <tr>
            <td>Direct Labour</td>
            <td class="text-right"><%= number_to_currency(@business_plan.direct_labour_op_cost_1.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.direct_labour_op_cost_2.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.direct_labour_op_cost_3.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.direct_labour_op_cost_4.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.direct_labour_op_cost_5.ceil, :unit => "₦") %></td>
          </tr>
          <tr>
            <td>Factory Overheads</td>
            <td class="text-right"><%= number_to_currency(@business_plan.factory_overhead_op_cost_1.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.factory_overhead_op_cost_2.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.factory_overhead_op_cost_3.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.factory_overhead_op_cost_4.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.factory_overhead_op_cost_5.ceil, :unit => "₦") %></td>
          </tr>
          <tr>
            <td>Inbound Transport</td>
            <td class="text-right"><%= number_to_currency(@business_plan.inbound_transport_op_cost_1.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.inbound_transport_op_cost_2.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.inbound_transport_op_cost_3.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.inbound_transport_op_cost_4.ceil, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency(@business_plan.inbound_transport_op_cost_5.ceil, :unit => "₦") %></td>
          </tr>
          <tr style="font-weight:bold;">
            <td style="font-weight:bold;" class="text-danger">Total Direct Costs</td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_direct_op_cost_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_direct_op_cost_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_direct_op_cost_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_direct_op_cost_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_direct_op_cost_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;" class="text-primary">Gross Profit</td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@gross_profit_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@gross_profit_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@gross_profit_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@gross_profit_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@gross_profit_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">
              OPERATING EXPENSES
            </td>
          </tr>
						<tr>
              <td>Salaries/Wages</td>
              <td class="text-right"><%= number_to_currency(@business_plan.salaries_one, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.salaries_two, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.salaries_three, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.salaries_four, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.salaries_five, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Rent</td>
              <td class="text-right"><%= number_to_currency(@business_plan.rent_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.rent_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.rent_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.rent_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.rent_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Utilities</td>
              <td class="text-right"><%= number_to_currency(@business_plan.utilities_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.utilities_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.utilities_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.utilities_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.utilities_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Marketing</td>
              <td class="text-right"><%= number_to_currency(@business_plan.marketing_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.marketing_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.marketing_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.marketing_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.marketing_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Maintenance</td>
              <td class="text-right"><%= number_to_currency(@business_plan.website_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.website_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.website_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.website_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.website_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Logistics</td>
              <td class="text-right"><%= number_to_currency(@business_plan.transport_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.transport_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.transport_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.transport_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.transport_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Communication</td>
              <td class="text-right"><%= number_to_currency(@business_plan.telephone_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.telephone_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.telephone_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.telephone_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.telephone_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Administrative</td>
              <td class="text-right"><%= number_to_currency(@business_plan.admin_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.admin_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.admin_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.admin_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.admin_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Miscellaneous</td>
              <td class="text-right"><%= number_to_currency(@business_plan.misc_op_cost_1.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.misc_op_cost_2.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.misc_op_cost_3.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.misc_op_cost_4.ceil, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.misc_op_cost_5.ceil, :unit => "₦") %></td>
            </tr>
            <tr>
              <td>Depreciation</td>
              <td class="text-right"><%= number_to_currency(@business_plan.total_charge_1, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.total_charge_2, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.total_charge_3, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.total_charge_4, :unit => "₦") %></td>
              <td class="text-right"><%= number_to_currency(@business_plan.total_charge_5, :unit => "₦") %></td>
            </tr>
          <tr>
            <td style="font-weight:bold;" class="text-danger">Total Operating Expenses</td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_op_expenses_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_op_expenses_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_op_expenses_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_op_expenses_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-danger"><%= number_to_currency(@business_plan.total_op_expenses_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;" class="text-primary">Operating Profit</td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@op_profit_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@op_profit_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@op_profit_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@op_profit_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@op_profit_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>Interest Expense</td>
            <td class="text-right"><%= number_to_currency( @interest_expense_1, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency( @interest_expense_2, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency( @interest_expense_3, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency( @interest_expense_4, :unit => "₦") %></td>
            <td class="text-right"><%= number_to_currency( @interest_expense_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td>Profit Before Tax</td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@profit_before_tax_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@profit_before_tax_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@profit_before_tax_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@profit_before_tax_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@profit_before_tax_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td>Taxation</td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@taxation_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@taxation_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@taxation_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@taxation_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;" class="text-primary"><%= number_to_currency(@taxation_5, :unit => "₦") %></td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Net Income</td>
            <td class="text-right" style="font-weight:bold;"><%= number_to_currency(@net_income_1, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;"><%= number_to_currency(@net_income_2, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;"><%= number_to_currency(@net_income_3, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;"><%= number_to_currency(@net_income_4, :unit => "₦") %></td>
            <td class="text-right" style="font-weight:bold;"><%= number_to_currency(@net_income_5, :unit => "₦") %></td>
          </tr>
				</tbody>
      </table>
    </div>
  </div>
</div>