<div class="container mt-5">
	<h3 class="mt-1 mb-3" style="font-size: 18px; font-weight: bold;">
		Products & Growth Rates
	</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								
							</tr>
						</thead>
						<tbody>
							
							<% @business_plan.products_and_growth_rates.each do |products_and_growth_rate| %>
							<tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
									<td style="font-size: 18px; font-weight: bold;"><%= products_and_growth_rate.product_name.upcase %></td>
									<td style="font-size: 18px;">Base Product Price: <%= number_to_currency(products_and_growth_rate.base_product_price, :unit => "₦") %></td>
									<td style="font-size: 18px;">Monthly Sales Volume: <%= products_and_growth_rate.monthly_sales_volume %> units</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo1"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th></th>
													<th>Year One</th>
													<th></th>
													<th>Year Two</th>
													<th></th>		
													<th>Year Three</th>
													<th></th>	
													<th>Year Four</th>
													<th></th>	
													<th>Year Five</th>
													<th></th>
													<th></th>	
													<th></th>
												</tr>
											</thead>	
											
											<tbody>		
												<tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
													<td>Sales Volume Growth Rate</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_one.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_two.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_three.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_four.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_five.ceil %>%</td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												
												<tr>
													
												</tr>
																												
												<tr>
													<td>Unit Price Growth Rate</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_one.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_two.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_three.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_four.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_five.ceil %>%</td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
											<tr>
											</tr>
											<tr class="info">
													<th></th>
													<th></th>
													<th></th>		
													<th></th>	
													<th></th>	
													<th></th>
													<th></th>
													<th></th>		
													<th></th>	
													<th></th>	
													<th></th>
													<th></th>	
													<th></th>
													<th></th>	
												</tr>
												<tr class="info">
													<th></th>
													<th>Jan.</th>
													<th>Feb.</th>		
													<th>Mar.</th>	
													<th>Apr.</th>	
													<th>May</th>
													<th>Jun.</th>
													<th>Jul.</th>		
													<th>Aug.</th>	
													<th>Sep.</th>	
													<th>Oct.</th>
													<th>Nov.</th>	
													<th>Dec.</th>
													<th></th>	
												</tr>
											
												<tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
													<td>Monthly Sales Percentage</td>
													<td><%= products_and_growth_rate.sales_percentage_one.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_two.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_three.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_four.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_five.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_six.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_seven.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_eight.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_nine.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_ten.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_eleven.ceil %>%</td>
													<td><%= products_and_growth_rate.sales_percentage_twelve.ceil %>%</td>
													<td></td>
												</tr>
												
												<tr>
													
												</tr>

																							<tr>
											</tr>
											<tr class="info">
													<th></th>
													<th></th>
													<th></th>		
													<th></th>	
													<th></th>	
													<th></th>
													<th></th>
													<th></th>		
													<th></th>	
													<th></th>	
													<th></th>
													<th></th>	
													<th></th>
													<th></th>	
												</tr>
												<tr class="info">
													<th></th>
													<th></th>
													<th>Year One</th>
													<th></th>
													<th>Year Two</th>
													<th></th>		
													<th>Year Three</th>
													<th></th>	
													<th>Year Four</th>
													<th></th>	
													<th>Year Five</th>
													<th></th>
													<th></th>	
													<th></th>
												</tr>

												<tbody>		
												<tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
													<td>Annual Sales Volume</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_one.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_two.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_three.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_four.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.sales_volume_growth_rate_five.ceil %>%</td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												
												<tr>
													
												</tr>
																												
												<tr>
													<td>Annual Product/Service Price </td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_one.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_two.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_three.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_four.ceil %>%</td>
													<td></td>
													<td><%= products_and_growth_rate.unit_price_growth_rate_five.ceil %>%</td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
						<% end %>
					</table>
				</div>
			</div> 
		</div>
	</div>
</div>



<div class="container mt-5">
	<h3 class="mt-1 mb-3" style="font-size: 18px; font-weight: bold;">
		Cost Growth Rates
	</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>

							</tr>
						</thead>
						<% @business_plan.costs_growth_rates.each do |costs_growth_rate| %>
						<tbody>
							<tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
							<% %>
							<td style="font-size: 18px; font-weight: bold;"><%= costs_growth_rate.cost_item %></td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo2"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year One</th>
													<th>Year Two</th>		
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>	
												</tr>
											</thead>	
											
											<tbody>		
												<tr>
													<td>Costs Growth Rate</td>
													<td><%= costs_growth_rate.cost_growth_rate_one.ceil %>%</td>
													<td><%= costs_growth_rate.cost_growth_rate_two.ceil %>%</td>
													<td><%= costs_growth_rate.cost_growth_rate_three.ceil %>%</td>
													<td><%= costs_growth_rate.cost_growth_rate_four.ceil %>%</td>
													<td><%= costs_growth_rate.cost_growth_rate_five.ceil %>%</td>
												</tr>
												
												<tr>
													
												</tr>
																												
												<tr>
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
						<% end %>
					</table>
				</div>
			</div> 
		</div>
	</div>
</div>
       
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>

