<div class="container mt-5">
	<h3 class="mt-1 mb-3" style="font-size: 18px; font-weight: bold;">
		Schedules
	</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
								<td style="font-size: 18px; font-weight: bold;">Debt Amortization Schedule</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo2"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year One</th>
													<th>Year Two</th>		
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>	
												</tr>
											</thead>	
											
											<tbody>		
												<tr>
													<td>Opening</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Addition</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Principal Repayment</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Closing</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Interest Expense</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Total Debt Service</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr></tr>

												<tr>
													<td style="font-weight:bold;">Annual Debt</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr></tr>

												<tr>
													<td>Total Loan Taken</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Total Loan Repayment</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Total Interest Expense</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Total Loan Balance</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
																												
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
								<td style="font-size: 18px; font-weight: bold;">Working Capital Schedule</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo3"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year One</th>
													<th>Year Two</th>		
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>	
												</tr>
											</thead>	
											
											<tbody>		
												<tr>
													<td>Days Receivable</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Inventory</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Days Payable</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Net Working Capital</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">Change in Net Working Capital</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>						
												<tr></tr>
																												
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr data-toggle="collapse" data-target="#demo4" class="accordion-toggle">
								<td style="font-size: 18px; font-weight: bold;">PPE & Depreciation Schedule</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo4"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year One</th>
													<th>Year Two</th>		
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>	
												</tr>
											</thead>	
											
											<tbody>		
												<tr></tr>
												<tr>
													<td style="font-weight:bold; font-size:18px;">COST:</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Opening</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Additions</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Closing</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">ACCUMULATED DEPRECIATION</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Opening</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Charge for the Year</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">closing</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">NET BOOK VALUE</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr></tr>
												<tr></tr>
												

												<tr>
													<td>Land</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>

												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												
												<tr></tr>
																												
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

</div>