<div class="container mt-5">
	<h3 class="mt-1 mb-3" style="font-size: 18px; font-weight: bold;">
		Schedules
	</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
								<td style="font-size: 18px; font-weight: bold;">Debt Amortization Schedule</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo2"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year Two</th>
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>
													<th>Year Six</th>	
												</tr>
											</thead>	
											
											<tbody>		
												<tr>
													<td>Opening</td>
													<td><%= number_to_currency( @opening_debt_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_2, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_3, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_4, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Addition</td>
													<td><%= number_to_currency( @addition_debt_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @addition_debt_2, :unit => "₦") %></td>
													<td><%= number_to_currency( @addition_debt_3, :unit => "₦") %></td>
													<td><%= number_to_currency( @addition_debt_4, :unit => "₦") %></td>
													<td><%= number_to_currency( @addition_debt_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Principal Repayment</td>
													<td><%= number_to_currency( @principal_repayment_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @principal_repayment_2, :unit => "₦") %></td>
													<td><%= number_to_currency( @principal_repayment_3, :unit => "₦") %></td>
													<td><%= number_to_currency( @principal_repayment_4, :unit => "₦") %></td>
													<td><%= number_to_currency( @principal_repayment_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Closing</td>
													<td><%= number_to_currency( @closing_debt_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_2, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_3, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_4, :unit => "₦") %></td>
													<td><%= number_to_currency( @closing_debt_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Interest Expense</td>
													<td><%= number_to_currency( @interest_expense_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @interest_expense_2, :unit => "₦") %></td>
													<td><%= number_to_currency( @interest_expense_3, :unit => "₦") %></td>
													<td><%= number_to_currency( @interest_expense_4, :unit => "₦") %></td>
													<td><%= number_to_currency( @interest_expense_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">Total Debt Service</td>
													<td><%= number_to_currency( @total_debt_1, :unit => "₦") %></td>
													<td><%= number_to_currency( @total_debt_2, :unit => "₦") %></td>
													<td><%= number_to_currency( @total_debt_3, :unit => "₦") %></td>
													<td><%= number_to_currency( @total_debt_4, :unit => "₦") %></td>
													<td><%= number_to_currency( @total_debt_5, :unit => "₦") %></td>
												</tr>
												<tr></tr>
												<tr></tr>
												<tr></tr>														
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
								<td style="font-size: 18px; font-weight: bold;">Working Capital Schedule</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo3"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year Two</th>
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>
													<th>Year Six</th>	
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
											</thead>	
											
											<tbody>		
												<tr>
													<td>Days Receivable</td>
													<td><%= number_to_currency(@products_and_growth_rate.days_receivable_one, :unit => "₦") %></td>
													<td><%= number_to_currency(@products_and_growth_rate.days_receivable_two, :unit => "₦") %></td>
													<td><%= number_to_currency(@products_and_growth_rate.days_receivable_three, :unit => "₦") %></td>
													<td><%= number_to_currency(@products_and_growth_rate.days_receivable_four, :unit => "₦") %></td>
													<td><%= number_to_currency(@products_and_growth_rate.days_receivable_five, :unit => "₦") %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Inventory</td>
													<td><%= number_to_currency(@business_plan.inventory_schedule_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.inventory_schedule_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.inventory_schedule_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.inventory_schedule_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.inventory_schedule_5, :unit => "₦") %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Days Payable</td>
													<td><%= number_to_currency(@business_plan.days_payable_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.days_payable_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.days_payable_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.days_payable_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.days_payable_5, :unit => "₦") %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Net Working Capital</td>
													<td><%= number_to_currency(@net_working_capital_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@net_working_capital_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@net_working_capital_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@net_working_capital_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@net_working_capital_5, :unit => "₦") %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">Change in Net Working Capital</td>
													<td><%= number_to_currency(@change_net_cap_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@change_net_cap_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@change_net_cap_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@change_net_cap_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@change_net_cap_5, :unit => "₦") %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>						
												<tr></tr>
																												
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr data-toggle="collapse" data-target="#demo4" class="accordion-toggle">
								<td style="font-size: 18px; font-weight: bold;">PPE & Depreciation Schedule</td>
							</tr>
					
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo4"> 
										<table class="table table-striped">
											<thead>
												<tr class="info">
													<th></th>
													<th>Year Two</th>
													<th>Year Three</th>	
													<th>Year Four</th>	
													<th>Year Five</th>
													<th>Year Six</th>	
												</tr>
											</thead>	
											
											<tbody>		
												<tr></tr>
												<tr>
													<td style="font-weight:bold; font-size:18px;">COST:</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Opening</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_4, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.rent, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_4, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.office_supplies, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_4, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.equipment, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_4, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_4, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.utilities, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_4, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency((@business_plan.land + @business_plan.utilities + @business_plan.vehicles + 
													@business_plan.equipment + @business_plan.office_supplies + @business_plan.rent), :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_4, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Additions</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(@business_plan.land, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(@business_plan.rent, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_add_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_add_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_add_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_add_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(@business_plan.office_supplies, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_add_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_add_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_add_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_add_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(@business_plan.equipment, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_add_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_add_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_add_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_add_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(@business_plan.vehicles, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_add_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_add_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_add_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_add_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(@business_plan.utilities, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_add_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_add_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_add_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_add_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency(@business_plan.total_add_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_add_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_add_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_add_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_add_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Closing</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(@business_plan.land, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_close_5, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(@business_plan.rent, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(@business_plan.office_supplies, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(@business_plan.equipment, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(@business_plan.vehicles, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(@business_plan.utilities, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency((@business_plan.land + @business_plan.utilities + @business_plan.vehicles + 
													@business_plan.equipment + @business_plan.office_supplies + @business_plan.rent), :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">ACCUMULATED DEPRECIATION</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Opening</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency(0, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Charge for the Year</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(@business_plan.land_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_charge_5, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(@business_plan.building_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_charge_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(@business_plan.furniture_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_charge_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(@business_plan.machinery_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_charge_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(@business_plan.vehicles_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_charge_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(@business_plan.installations_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_charge_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency(@business_plan.total_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_charge_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_charge_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_charge_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_charge_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>
												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">Closing</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(@business_plan.land_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_acc_close_5, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(@business_plan.building_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_acc_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(@business_plan.furniture_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_acc_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(@business_plan.machinery_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_acc_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(@business_plan.vehicles_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_acc_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(@business_plan.installations_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_acc_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency(@business_plan.total_charge_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_close_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_close_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_close_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_acc_close_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												
												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>
												<tr>
													<td style="font-weight:bold;">NET BOOK VALUE</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr></tr>
												<tr></tr>
												

												<tr>
													<td>Land</td>
													<td><%= number_to_currency(@business_plan.land_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.land_net_5, :unit => "₦") %></td>
												</tr>

												<tr></tr>

												<tr>
													<td>Building/Rent</td>
													<td><%= number_to_currency(@business_plan.building_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.building_net_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Furniture/Fittings</td>
													<td><%= number_to_currency(@business_plan.furniture_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.furniture_net_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Equipment/Machinery</td>
													<td><%= number_to_currency(@business_plan.machinery_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.machinery_net_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Vehicles</td>
													<td><%= number_to_currency(@business_plan.vehicles_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.vehicles_net_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td>Installations/Utilities</td>
													<td><%= number_to_currency(@business_plan.installations_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.installations_net_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>

												<tr>
													<td style="font-weight:bold;">TOTAL</td>
													<td><%= number_to_currency(@business_plan.total_net_1, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_net_2, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_net_3, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_net_4, :unit => "₦") %></td>
													<td><%= number_to_currency(@business_plan.total_net_5, :unit => "₦") %></td>
												</tr>
												
												<tr></tr>
												<tr></tr>

												<tr>
													<td></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
													<td><%=  %></td>
												</tr>
												
												<tr></tr>
												
												<tr></tr>
																												
											</tbody>
										</table>
									</div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

</div>