<div class="widget sidebar-item widget-jobs" style="width: 280px; padding-bottom: 10px;">
  <div class="sd-title">
    <h3 class="text-center">Top Brands</h3>
  </div>

  <% @enterprises.each do |enterprise| %>  
    <div class="suggestions-list make-me-sticky" style="padding-bottom: 60px;">
      <div class="suggestion-usd" style="margin-bottom: -60px;">
        <a href="<%= enterprise_url(enterprise) %>">
          <%= image_tag enterprise.image_url, style: "width: 50px; height: 50px; margin-left: 5px; margin-right: 5px;" %>
        </a>
        <div class="sgt-text">
          <h4><%= link_to enterprise.name.titleize, enterprise, class: 'text-dark' %></h4>
          <span>
            <% if enterprise.category %>
            <%= enterprise.category.name %>
            <% else %>
            <%= 'General' %>
            <% end %>
          </span><br>
          </div>
      </div> 
    </div>
  <% end %>
</div>
